<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/template/layout.html">
<body>
<div layout:fragment="content">
    <!-- Responsive Table -->
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h4 class="fw-bold pt-3">Пользователи</h4>
    </div>
    <div class="card">
        <div class="card-header py-2 d-flex justify-content-end">
            <div class="search-input-wrapper col-md-4">
                <label class="d-flex align-items-center gap-1 w-100">
                    Search:
                    <input type="search" class="form-control">
                </label>
            </div>
        </div>
        <div class="card-body">
            <div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Дата регистрации</th>
                            <th>День рождения</th>
                            <th>Email</th>
                            <th>Телефон</th>
                            <th>ФИО</th>
                            <th>Псевдоним</th>
                            <th>Город</th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-center pb-0"></div>
    </div>
    <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
    <script>
        $(document).ready(function () {
            getUsers(0) // При загрузке страницы вызывается функция getUsers с параметром страницы
        });

        let currentPage; // Текущая страница
        let searchText;
        let timer;
        $("input[type='search']").on("input", function () {
            searchText = this.value;
            clearTimeout(timer);
            timer = setTimeout(getUsers(0), 500);
            // При вводе текста в поле поиска срабатывает таймер, который через 300 мс вызывает функцию getUsers с параметром 0
        });

        function getUsers(page) {
            if (searchText) {
                getUsersBySearch(page, searchText);
                // Если есть значение searchText, вызывается функция getUsersPageBySearch с параметрами page и searchText
            } else {
                getUsersPage(page);
                // В противном случае вызывается функция getUsersPage с параметром page
            }
        }

        function getUsersPage(page) {
            // AJAX-запрос на получение данных пользователей
            $.ajax({
                type: 'GET',
                url: 'users/getPage?page=' + page, // URL-адрес для получения данных страницы с номером page
                dataType: 'JSON',
                success: function (result) {
                    clearTableLine(); // Очищает таблицу перед отрисовкой новых данных
                    drawTable(result, page); // Отрисовка данных в таблице
                }
            });

        }

        function getUsersBySearch(page, search) {
            // AJAX-запрос на получение данных пользователей по поиску
            $.ajax({
                type: 'GET',
                url: 'users/getPageSearch?page=' + page + '&search=' + search, // URL-адрес для получения данных страницы с номером page и по заданному поисковому запросу search
                dataType: 'json',
                success: function (result) {
                    currentPage = page;
                    clearTableLine(); // Очищает таблицу перед отрисовкой новых данных
                    drawTable(result, page); // Отрисовка данных в таблице
                }
            });
        }

        function drawTable(result, page) {
            for (const data of result.content) {

                let dateRegString =  new Date(data.dateOfRegistration).toLocaleDateString("uk");
                let dateOfBirthString =  new Date(data.dateOfBirth).toLocaleDateString("uk");

                $('<tr>\n' +
                    '<td>' + data.id + '</td>\n' +
                    '<td>' + dateRegString + '</td>\n' +
                    '<td>' + dateOfBirthString + '</td>\n' +
                    '<td>' + data.email + '</td>\n' +
                    '<td>' + data.phoneNumber + '</td>\n' +
                    '<td>' + data.name + ' ' + data.surname + '</td>\n' +
                    '<td>' + data.nickname + '</td>\n' +
                    '<td>' + data.city + '</td>\n' +
                    '<td class="row">\n' +
                    '<a style="max-width: 24px;" ' +
                    'href="users/' + data.id + '" class="btn btn-primary">\n' +
                    '<i class="ti ti-edit"></i>\n' +
                    '</a>\n' +
                    '<a style="max-width: 24px;" href="users/' + data.id + '" class="btn btn-danger">\n' +
                    '<i class="ti ti-trash"></i>\n' +
                    '</a>' +
                    '</td>\n' +
                    '' +
                    '</tr>').appendTo("tbody");
            }

            if (result.totalPages > 1) {

                showPagination(result.totalPages);

                switch (page) {
                    case (result.totalPages - 1):
                        $(".page-item.last").addClass('disabled');
                        $(".page-item.next").addClass('disabled');
                        break;
                    case 0:
                        $(".page-item.first").addClass('disabled');
                        $(".page-item.prev").addClass('disabled');
                        break;
                }
            }

            function showPagination(countItems) {
                let paginationList = '<ul class="pagination pagination-sm">\n' +
                    '<li class="page-item first">\n' +
                    '   <a class="page-link waves-effect" onclick="getUsers(0)"><i class="ti ti-chevrons-left tf-icon fs-6"></i></a>\n' +
                    '</li>\n' +
                    '<li class="page-item prev">\n' +
                    '   <a class="page-link waves-effect" onclick="getUsers(' + (page - 1) + ')"><i class="ti ti-chevron-left tf-icon fs-6"></i></a>\n' +
                    '</li>\n';
                for (let item = 0; item < countItems; item++) {
                    paginationList += '<li class="page-item ' + (page === item ? 'active' : '') + '">\n' +
                        '<a class="page-link waves-effect" onclick="getUsers(' + item + ')">' + (item + 1) + '</a>\n' +
                        '</li>';
                }
                paginationList += '<li class="page-item next">\n' +
                    '       <a class="page-link waves-effect" onclick="getUsers(' + (page + 1) + ')"><i class="ti ti-chevron-right tf-icon fs-6"></i></a>\n' +
                    '   </li>\n' +
                    '      <li class="page-item last">\n' +
                    '       <a class="page-link waves-effect" onclick="getUsers(' + (countItems - 1) + ')"><i class="ti ti-chevrons-right tf-icon fs-6"></i></a>\n' +
                    '      </li>\n' +
                    '   </ul>\n'

                $(paginationList).appendTo(".card-footer");
            }

        }

        function clearTableLine() {
            $("tbody").find("tr").each(function () {
                this.remove();
            });
            $(".card-footer").children().remove();
        }

    </script>

</div>
</body>


</html>