<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/template/layout.html">
<body>
<div layout:fragment="content">
    <div class="container">
        <div th:text="${appContextPath}" hidden id="appContextPath"></div>
        <!--Блок с баннерами-->

        <div>
            <form class="p-2 form-block rounded-3 border banner-block-validation" th:object="${bannerBlock}" novalidate
                  id="banner-form">
                <div>
                    <div>
                        <div class="d-flex flex-row justify-content-center">
                            <div></div>
                            <h4 class="fw-bold pt-3">На главной верх</h4>
                        </div>
                        <div class="d-flex flex-row justify-content-end">
                            <div class="form-check form-switch form-check-inline col-1 my-auto">
                                <label>
                                    <input th:field="*{status}"
                                           class="form-check-input" type="checkbox"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-4 g-4 mb-5" id="MainBannersBlock">
                        <div class="col element-banner" th:each="banner, i : *{banners}">
                            <div class="card text-center mb-2">
                                <div style="object-fit : contain" class="card-header"
                                     id="MainBannerImageBlock">
                                    <a type="button" onclick="removeBanner(this)"
                                       class="btn rounded-pill btn-icon btn-label-danger position-absolute top-0 end-0">
                                        <span class="fa-solid fa-x"></span>
                                    </a>
                                    <div class="image-container">
                                        <img style="object-fit : cover; height: 200px" class="card-img-top"
                                             id=""
                                             th:src="@{*{banners[__${i.index}__].pathImage}}"
                                             alt="Card image cap"/>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <input type="file"
                                           class="form-control"
                                           th:field="*{banners[__${i.index}__].pathImage}"
                                           onchange="previewImage(this)"
                                           accept="image/png, image/jpeg" size="10"/>
                                    <div class="form-group mb-1">
                                        <input type="hidden" th:field="*{banners[__${i.index}__].id}"
                                               class="form-control banner-id"
                                               value="" placeholder="URL">
                                        <input type="text" th:field="*{banners[__${i.index}__].url}"
                                               class="form-control"
                                               value="" placeholder="URL" required>
                                        <input type="text" th:field="*{banners[__${i.index}__].title}"
                                               class="form-control"
                                               value="" placeholder="Текст" required>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <hr class="line"/>
                    <div class="col-12 d-flex justify-content-around">
                        <div class="col-2">
                            <label class="form-inline">Скорость вращения
                                <select class="form-select form-select-sm" id="timeChangeBanner"
                                        th:field="*{timeChange}">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </label>

                        </div>
                        <div class="col-2">
                            <button type="button"
                                    class="btn btn-primary"
                                    onclick="addBanner()">
                                Добавить
                            </button>
                        </div>
                        <div class="col-2">
                            <button type="submit"
                                    class="btn btn-primary btn-form-block-multiple">
                                Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script>

            function previewImage(input) {
                console.log(input);
                let file = input.files[0];

                console.log(file);
                // Проверка типа файла
                if (!file.type.match("image.*")) {
                    showToast('error', 'Ошибка', 'Укажите фото');
                    input.classList.add("is-invalid");
                    input.classList.remove("is-valid");
                    return;
                }
                let mb = 7;

                if (file.size > mb * 1024 * 1024) {
                    showToast('error', 'Ошибка', 'Укажите фото не превышающее ' + mb + ' МБ');
                    // 500 килобайт в байтах
                    input.classList.add("is-invalid");
                    input.classList.remove("is-valid");
                    return;
                }

                input.classList.add("is-valid");
                input.classList.remove("is-invalid");

                let reader = new FileReader();
                reader.onload = function (e) {
                    let imageContainer =
                        input.parentElement.previousElementSibling.querySelector(
                            ".image-container"
                        );
                    let image = imageContainer.querySelector("img");
                    console.log(image);
                    image.src = e.target.result;
                    image.alt = "Предварительный просмотр";
                    image.classList.add("img-preview");
                };
                reader.readAsDataURL(file);
            }

            let bsValidationForms = document.querySelector(".banner-block-validation");
            let mainBannerBlockEndPoint = '/admin/banners/editBlockMainBanners/';
            validationAndSubmitSend(bsValidationForms, mainBannerBlockEndPoint);



            function validationAndSubmitSend(form, endPoint) {

                form.addEventListener("submit", function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        event.preventDefault();

                        let Inputs = form.querySelectorAll('input');

                        for (let InputElement of Inputs) {
                            if (InputElement.classList.contains('is-invalid')) {
                                showToast('error', 'Ошибка', 'Пожалуйста, укажите корректные значения');
                                return;
                            }
                        }

                        var formData = new FormData(this);
                        $.ajax({
                            type: 'POST',
                            url: appContextPath + endPoint,
                            data: formData,
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                console.log(response);
                                showToast('success', 'Успешно', 'Объекты обновлены');
                            },
                            error: function (xhr, status, error) {
                                console.log(xhr.responseText);
                                showToast('error', 'Ошибка', 'Перезагрузите страницу и попробуйте ещё раз');
                            }
                        });
                    }

                    form.classList.add("was-validated");
                });

            }


            function addBanner() {
                var formIndex = document.querySelectorAll('.element-banner').length;
                var lastElement = document.querySelectorAll('.element-banner')[formIndex - 1];
                var bannerIdInput = lastElement.querySelector('.banner-id');

                var bannerIdValue = bannerIdInput.value;
                bannerIdValue++;
                $('<div class="col element-banner" th:each="banner, i : *{banners}">\n' +
                    '   <div class="card text-center mb-2">\n' +
                    '       <div style="object-fit : contain" class="card-header"\n' +
                    '            id="MainBannerImageBlock">\n' +
                    '           <a type="button" onclick="removeBanner(this)"\n' +
                    '              class="btn rounded-pill btn-icon btn-label-danger position-absolute top-0 end-0">\n' +
                    '               <span class="fa-solid fa-x"></span>\n' +
                    '           </a>\n' +
                    '           <div class="image-container">\n' +
                    '               <img style="object-fit : scale-down; height: 200px" class="card-img-top"\n' +
                    '                    \n' +
                    '                    src="https://via.placeholder.com/300x200?text=Нет изображения"\n' +
                    '                    alt="Card image cap"/>\n' +
                    '           </div>\n' +
                    '       </div>\n' +
                    '       <div class="card-body">\n' +
                    '           <input type="file"\n' +
                    '                  class="form-control"\n' +
                    '                  name="banners[' + formIndex + '].pathImage"\n' +
                    '                  id="banners' + formIndex + '.pathImage"\n' +
                    '                  onchange="previewImage(this)"\n' +
                    '                  accept="image/png, image/jpeg" required/>\n' +
                    '           <div class="valid-feedback">Отлично</div>\n' +
                    '           <div class="invalid-feedback"> Укажите изображение</div>\n' +
                    '           <div class="form-group mb-1">\n' +
                    '               <input type="hidden" id="banners' + formIndex + '.id" \n' +
                    '                      name="banners[' + formIndex + '].id" class="form-control banner-id"\n' +
                    '                      value="' + bannerIdValue + '" placeholder="URL" required>\n' +
                    '               <input type="text" id="banners' + formIndex + '.url" \n' +
                    '                      name="banners[' + formIndex + '].url" class="form-control"\n' +
                    '                      value="" placeholder="URL" required>\n' +
                    '               <input type="text" id="banners' + formIndex + '.title" \n' +
                    '                      name="banners[' + formIndex + '].title" class="form-control"\n' +
                    '                      value="" placeholder="Текст" required>\n' +
                    '           </div>\n' +
                    '       </div>\n' +
                    '   </div>\n' +
                    '</div>').appendTo('#MainBannersBlock');
            }

            function addBannerNewsAndStocks() {
                var formIndex = document.querySelectorAll('.element-banner').length;
                var lastElement = document.querySelectorAll('.element-banner')[formIndex - 1];
                var bannerIdInput = lastElement.querySelector('.banner-id');

                var bannerIdValue = bannerIdInput.value;
                bannerIdValue++;
                $('<div class="col element-banner" ">\n' +
                    '     <div class="card text-center mb-2">\n' +
                    '         <div style="object-fit : contain" class="card-header"\n' +
                    '              id="bannerImageBlockForNewsAndStocks">\n' +
                    '             <a type="button" onclick="removeBanner(this)"\n' +
                    '                class="btn rounded-pill btn-icon btn-label-danger position-absolute top-0 end-0">\n' +
                    '                 <span class="fa-solid fa-x"></span>\n' +
                    '             </a>\n' +
                    '             <div class="image-container">\n' +
                    '                 <img style="object-fit : scale-down; height: 200px" class="card-img-top"\n' +
                    '                      src="https://via.placeholder.com/300x200?text=Нет изображения"\n' +
                    '                      alt="Card image cap"/>\n' +
                    '             </div>\n' +
                    '         </div>\n' +
                    '         <div class="card-body">\n' +
                    '        <input type="file"\n' +
                    '               class="form-control"\n' +
                    '               name="banners[' + formIndex + '].pathImage"\n' +
                    '               id="banners' + formIndex + '.pathImage"\n' +
                    '               onchange="previewImage(this)"\n' +
                    '               accept="image/png, image/jpeg" required/>\n' +
                    '        <div class="form-group mb-1">\n' +
                    '            <input type="hidden" id="banners' + formIndex + '.id" \n' +
                    '                   name="banners[' + formIndex + '].id" class="form-control banner-id"\n' +
                    '                   value="' + bannerIdValue + '" placeholder="URL" required>\n' +
                    '            <input type="text" id="banners' + formIndex + '.url" \n' +
                    '                   name="banners[' + formIndex + '].url" class="form-control"\n' +
                    '                   value="" placeholder="URL" required>\n' +
                    '            <input type="text" id="banners' + formIndex + '.title" \n' +
                    '                   name="banners[' + formIndex + '].title" class="form-control"\n' +
                    '                   value="" placeholder="Текст" required>\n' +
                    '        </div>\n' +
                    '    </div>\n' +
                    '</div>\n' +
                    '</div>').appendTo('#bannerBlockForNewsAndStocks');
            }

            function removeBanner(thisElement) {
                let elementBanner = thisElement.closest('.element-banner');
                elementBanner.remove();
            }
        </script>

        <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
        <script th:src="@{/assets/vendor/libs/block-ui/block-ui.js}"></script>
        <script th:src="@{/customAssets/js/toast.js}"></script>

        <script>
            let appContextPath = document.getElementById("appContextPath").textContent
        </script>


        <br/>
        <!--Блок с фоновым баннером-->
        <div class="rounded-start border">
            <form class=" bannerBackground-validation" novalidate>
                <div class="d-flex flex-row justify-content-center">
                    <h4 class="fw-bold pt-3">Сквозной банер на заднем фоне</h4>
                </div>
                <div class="row">
                    <div class="col-1 align-items-center d-flex justify-content-center align-content-center">

                        <input type="radio" name="backgroundImageDefault" value="false" th:checked="${bannerBackground.isDefault == 'false' ? 'checked' : ''}" />

                    </div>
                    <div class="col-2 align-items-center d-flex justify-content-center align-content-center">
                        <p class="col-form-label col-sm-2  ">
                            Фото на фон
                        </p>
                    </div>
                    <div class="col-4 image-container" id="backgroundImageBlock">
                        <div class="image-container">
                            <img style="object-fit : scale-down; height: 200px" class="card-img-top"
                                 th:src="@{${bannerBackground.url != null || bannerBackground.url != '' ? bannerBackground.url : 'https://via.placeholder.com/300x200?text=Нет изображения'}}"
                                 alt="Card image cap"/>
                        </div>
                    </div>

                    <div class="col-3 d-flex justify-content-center align-items-center flex-column">
                        <input type="file"
                               class="form-control"
                               accept="image/png, image/jpeg"
                               name="backgroundImage"
                               onchange="previewImage(this)"
                        />
                        <br/>

                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-1 align-items-center d-flex justify-content-center align-content-center">
                        <input type="radio" name="backgroundImageDefault" value="true" th:checked="${bannerBackground.isDefault == 'true' ? 'checked' : ''}"  />
                    </div>
                    <div class="col-2 align-items-center d-flex justify-content-center align-content-center">
                        <p class="col-form-label col-sm-2  ">
                            Просто фон
                        </p>
                    </div>
                </div>

                <div class="col-12 d-flex justify-content-around">
                    <div class="col-2">

                    </div>
                    <div class="col-2">

                    </div>
                    <div class="col-2">
                        <button type="submit"
                                class="btn btn-primary btn-form-block-multiple">
                            Сохранить
                        </button>
                    </div>
                </div>
                <br/>
            </form>
            <script>
                let bannerBackgroundValidationForms = document.querySelector(".bannerBackground-validation");
                let bannerBackgroundValidationEndPoint = '/admin/banners/editBackgroundBanner/';

                validationAndSubmitSend(bannerBackgroundValidationForms, bannerBackgroundValidationEndPoint);
            </script>
        </div>
        <br/>

        <!--Блок с баннерами для акций и новостей-->

        <div>
            <form class="p-2 form-block rounded-3 border banner-block-NewsAndStocks-validation" th:object="${bannerBlockForNewsAndStocks}"
                  novalidate
                  id="bannerBlockForNewsAndStocks-form">
                <div>
                    <div>
                        <div class="d-flex flex-row justify-content-center">
                            <div></div>
                            <h4 class="fw-bold pt-3">На главной Новости Акции</h4>
                        </div>
                        <div class="d-flex flex-row justify-content-end">
                            <div class="form-check form-switch form-check-inline col-1 my-auto">
                                <label>
                                    <input th:field="*{statusBlockBannerForNewsAndStocks}"
                                           class="form-check-input" type="checkbox"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-4 g-4 mb-5" id="bannerBlockForNewsAndStocks">

                        <div class="col element-banner" th:each="banner, i : *{banners}">
                            <div class="card text-center mb-2">
                                <div style="object-fit : contain" class="card-header"
                                     id="bannerImageBlockForNewsAndStocks">
                                    <a type="button" onclick="removeBanner(this)"
                                       class="btn rounded-pill btn-icon btn-label-danger position-absolute top-0 end-0">
                                        <span class="fa-solid fa-x"></span>
                                    </a>
                                    <div class="image-container">
                                        <img style="object-fit : scale-down; height: 200px" class="card-img-top"
                                             th:src="@{*{banners[__${i.index}__].pathImage}}"
                                             alt="Card image cap"/>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <input type="file"
                                           class="form-control"
                                           th:field="*{banners[__${i.index}__].pathImage}"
                                           onchange="previewImage(this)"
                                           accept="image/png, image/jpeg" size="10"/>
                                    <div class="form-group mb-1">
                                        <input type="hidden" th:field="*{banners[__${i.index}__].id}"
                                               class="form-control banner-id"
                                               value="" placeholder="URL">
                                        <input type="text" th:field="*{banners[__${i.index}__].url}"
                                               class="form-control"
                                               value="" placeholder="URL" required>
                                        <input type="text" th:field="*{banners[__${i.index}__].title}"
                                               class="form-control"
                                               value="" placeholder="Текст" required>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <hr class="line"/>
                    <div class="col-12 d-flex justify-content-around">
                        <div class="col-2">
                            <label class="form-inline">Скорость вращения
                                <select class="form-select form-select-sm" id="timeChangeBlockBannerForNewsAndStocks"
                                        th:field="*{timeChangeBlockBannerForNewsAndStocks}">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </label>

                        </div>
                        <div class="col-2">
                            <button type="button"
                                    class="btn btn-primary"
                                    onclick="addBannerNewsAndStocks()">
                                Добавить
                            </button>
                        </div>
                        <div class="col-2">
                            <button type="submit"
                                    class="btn btn-primary btn-form-block-multiple">
                                Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <script>
                let bannerForNewsAndStockBlockValidationForms = document.querySelector(".banner-block-NewsAndStocks-validation");
                let bannerForNewsAndStockBlockEndPoint = '/admin/banners/editBannerBlockForNewsAndStocks/';
                validationAndSubmitSend(bannerForNewsAndStockBlockValidationForms, bannerForNewsAndStockBlockEndPoint);
            </script>
        </div>

    </div>

    <script>

    </script>
</div>
</body>
</html>