<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/template/layout.html">
<body>
<div layout:fragment="content">
    <div class="container">
        <!--Блок с баннерами-->
        <form id="MainBannerForm"
              class="p-2 form-block rounded-3 border">
            <div>
                <div>
                    <div class="d-flex flex-row justify-content-center">
                        <div></div>
                        <h4 class="fw-bold pt-3">На главной верх</h4>
                    </div>
                    <div class="d-flex flex-row justify-content-end">
                        <div class="form-check form-switch form-check-inline col-1 my-auto">
                            <label>
                                <input th:field="${bannerBlock.status}"
                                       class="form-check-input" type="checkbox"
                                       name="status"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-4 g-4 mb-5" id="MainBannersBlock">

                </div>
                <hr class="line"/>
                <div class="col-12 d-flex justify-content-around">
                    <div class="col-1">
                        <select class="form-select form-select-sm"
                                name="timeChange" th:field="${bannerBlock.timeChange}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>

                    </div>
                    <div class="col-1">
                        <button type="button"
                                class="btn btn-primary"
                                onclick="addBlockMainBanner()">
                            Добавить
                        </button>
                    </div>
                    <div class="col-1">
                        <button type="submit"
                                class="btn btn-primary btn-form-block-multiple"
                                id="saveButtonBanner">
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
            <br>
        </form>
        <br/>
        <!--Блок с фоновым баннером-->
        <div class="rounded-start border">
            <div class="d-flex flex-row justify-content-center">
                <div></div>
                <h4 class="fw-bold pt-3">Сквозной банер на заднем фоне</h4>
            </div>
            <div class="row">
                <div class="col-1 align-items-center d-flex justify-content-center align-content-center">
                    <input
                            name="backgroundImage"
                            class="form-check-input col-3"
                            type="radio"
                            value="false"
                            th:checked="${!bannerBackground.isDefault} ? 'checked' : null"
                    />
                </div>
                <div class="col-2 align-items-center d-flex justify-content-center align-content-center">
                    <p class="col-form-label col-sm-2  ">
                        Фото на фон
                    </p>
                </div>
                <div class="col-4" id="backgroundImageBlock">
                </div>
                <div class="col-3 d-flex justify-content-center align-items-center flex-column">
                    <label class="form-label">
                        <input type="file"
                               class="form-control"
                               accept="image/png, image/jpeg"
                               name="mainImagePage"
                               onchange="editBackgroundBanner(this)"
                        />
                    </label>
                    <br/>
                    <label class="form-label">
                        <a>
                            <button
                                    type="button"
                                    class="btn btn-danger"
                                    onclick="removeBackgroundBanner()">
                                Удалить
                            </button>
                        </a>
                    </label>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-1 align-items-center d-flex justify-content-center align-content-center">
                    <input
                            name="backgroundImage"
                            class="form-check-input col-3"
                            type="radio"
                            value="true"
                            th:checked="${bannerBackground.isDefault} ? 'checked' : null"
                    />
                </div>
                <div class="col-2 align-items-center d-flex justify-content-center align-content-center">
                    <p class="col-form-label col-sm-2  ">
                        Просто фон
                    </p>
                </div>
            </div>
        </div>
        <br/>
        <!--Блок с баннерами для акций и новостей-->
        <form id="BannerForNewsAndStocksForm"
              class="p-2 form-block rounded-3 border">
            <div>
                <div>
                    <div class="d-flex flex-row justify-content-center">
                        <div></div>
                        <h4 class="fw-bold pt-3">На главной Новости Акции</h4>
                    </div>
                    <div class="d-flex flex-row justify-content-end">
                        <div class="form-check form-switch form-check-inline col-1 my-auto">
                            <label>
                                <input class="form-check-input" type="checkbox"
                                       name="statusBlockBannerForNewsAndStocks"
                                       th:field="${bannerBlockForNewsAndStocks.statusBlockBannerForNewsAndStocks}"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-4 g-4 mb-5" id="BannerForNewsAndStocksBlock">
                </div>
                <hr class="line"/>
                <div class="col-12 d-flex justify-content-around">
                    <div class="col-1">
                        <select class="form-select form-select-sm"
                                th:field="${bannerBlockForNewsAndStocks.timeChangeBlockBannerForNewsAndStocks}"
                                name="timeChangeBlockBannerForNewsAndStocks">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <button type="button"
                                class="btn btn-primary"
                                onclick="addBlockBannerForNewsAndStocks()">
                            Добавить
                        </button>
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-primary btn-form-block-multiple"
                                id="saveButtonBannerForNewsAndStocks">
                            Сохранить
                        </button>
                        <p th:text="${projectPath}"></p>
                    </div>
                </div>
            </div>
            <br>
        </form>
        <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
        <script th:src="@{/assets/vendor/libs/block-ui/block-ui.js}"></script>
        <script>

            let baseUrl = window.location.href;
            $(document).ready(function () {
                showAllImages()

            });
            function showAllImages() {
                let url = baseUrl + 'showAllMainBanner/';
                $.ajax({
                    url: url,
                    method: 'GET',
                    dataType: 'JSON',
                    success: function (result) {
                        console.log(result);
                        drawImages(result)
                    },
                    error: function (error) {
                        console.log(error)
                        console.log("Проблемма в отрисовке всех баннеров");
                    }
                })
            }

            function drawImages(result) {
                for (const data of result) {
                    $('<div class="col" id="MainBannerBlock' + data.id + '">\n' +
                        '                        <div class="card text-center mb-2">\n' +
                        '                            <div class="card-header" id="MainBannerImageBlock' + data.id + '">\n' +
                        '                                <a type="button" onclick="removeBlockMainBanner(this, ' + data.id + ')" \n' +
                        '                                   class="btn rounded-pill btn-icon btn-label-danger position-absolute top-0 end-0">\n' +
                        '                                <span class="fa-solid fa-x">\n' +
                        '                                </span>\n' +
                        '                                </a>\n' +
                        '                                <img class="card-img-top"\n' +
                        '                                     id="imageBanner' + data.id + '"\n' +
                        '                                     src="' + (data.pathImage != null ? data.pathImage : 'https://via.placeholder.com/250x200&text=Empty') + '"' +
                        '                                     alt="Card image cap"/>\n' +
                        '                            </div>\n' +
                        '                            <div class="card-body">\n' +
                        '                                <input type="file"\n' +
                        '                                       class="form-control"  \n' +
                        '                                       onchange="editMainBanner(this, ' + data.id + ')" ' +
                        '                                       accept="image/png, image/jpeg"\n' +
                        '                                <div class="form-group mb-1">\n' +
                        '                                    <input type="hidden" name="id[]" class="form-control" value="' + data.id + '" placeholder="URL">\n' +
                        '                                    <input type="text" name="url[]" class="form-control" value="' + data.url + '" placeholder="URL">\n' +
                        '                                    <input type="text" name="text[]" class="form-control" value="' + data.title + '" placeholder="Текст">\n' +
                        '                                </div>\n' +
                        '                            </div>\n' +
                        '                        </div>\n' +
                        '                    </div>').appendTo('#MainBannersBlock');
                }
            }

            function editMainBanner(element, id) {
                let file = element.files[0];
                let formData = new FormData();
                formData.append("file", file);
                let url = baseUrl + 'editMainBanner/' + id;
                $.ajax({
                    url: url,
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        let url2 = baseUrl + 'getMainBanner/' + id;
                        $.ajax({
                            url: url2,
                            method: 'GET',
                            success: function (result) {
                                console.log("Загружено", result);
                                let imageBlock = $('#imageBanner' + id);

                                $('<img class="card-img-top"\n' +
                                    'id="imageBanner' + result.id + '" ' +
                                    'src="' + (result.pathImage != null ? result.pathImage : 'https://via.placeholder.com/250x200&text=Empty') + '" ' +
                                    'alt="Card image cap"/>').appendTo("#MainBannerImageBlock" + result.id);
                                imageBlock.remove();
                            },
                            error: function (error) {
                                console.error("Ошибка при загрузке файла:", error);
                            }
                        });
                    },
                    error: function (error) {
                        console.error("Ошибка при загрузке файла:", error);
                    }
                });

            }

            function addBlockMainBanner() {
                let index;
                let url = baseUrl + 'createMainBanner/';
                $.ajax({
                    url: url,
                    method: 'GET',
                    dataType: 'JSON',
                    success: function (result) {
                        console.log("Download", result);
                        drawImages(result)
                    }
                })
            }

            function removeBlockMainBanner(element, id) {
                let block = $('#MainBannerBlock' + id);
                block.remove();
                let url = baseUrl + 'deleteMainBanner/' + id;
                $.ajax({
                    url: url,
                    method: 'GET',
                    dataType: 'JSON',
                    success: function (result) {
                        console.log(result);
                    }
                })
            }
        </script>

        <!--        Отправка формы целого блока-->
        <script>

            let formSection = $('#MainBannerForm');
            let formBlockMultiple = $('#saveButtonBanner');

            $(document).ready(function () {
                $('#MainBannerForm').submit(function (event) {
                    event.preventDefault();

                    let entities = [];

                    $('input[name="id[]"]').each(function (index) {
                        let id = $(this).val();
                        let url = $('input[name="url[]"]').eq(index).val();
                        let text = $('input[name="text[]"]').eq(index).val();

                        let entityText = {
                            id: id,
                            url: url,
                            text: text
                        };
                        entities.push(entityText);
                    });

                    let entity = {
                        status: $('input[name="status"]').prop('checked'),
                        timeChange: $('select[name="timeChange"]').val(),
                        mainBannersItemDto: entities
                    };

                    let jsonData = JSON.stringify(entity);
                    let url = baseUrl + 'editAllMainBanners/';
                        $.ajax({
                        url: url,
                        type: 'POST',
                        data: jsonData,
                        contentType: 'application/json',
                        success: function (response) {
                            console.log(response);
                            window.response = "Успех";
                            window.statusResponse = "success";
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                            window.response = "Перезагрузите страницу и повторите попытку";
                            window.statusResponse = "danger";
                        }
                    });
                });
            });

            if (formBlockMultiple.length && formSection.length) {
                formBlockMultiple.on('click', function () {
                    formSection.block({
                        message:
                            '<div class="d-flex justify-content-center"><p class="mb-0">Please wait...</p> <div class="sk-wave m-0"><div class="sk-rect sk-wave-rect"></div> <div class="sk-rect sk-wave-rect"></div> <div class="sk-rect sk-wave-rect"></div> <div class="sk-rect sk-wave-rect"></div> <div class="sk-rect sk-wave-rect"></div></div> </div>',
                        css: {
                            backgroundColor: 'transparent',
                            color: '#fff',
                            border: '0'
                        },
                        overlayCSS: {
                            opacity: 0.5
                        },
                        timeout: 1000,
                        onUnblock: function () {
                            formSection.block({
                                message: '<p class="mb-0">Almost Done...</p>',
                                timeout: 1000,
                                css: {
                                    backgroundColor: 'transparent',
                                    border: '0'
                                },
                                overlayCSS: {
                                    opacity: 0.25
                                },
                                onUnblock: function () {
                                    formSection.block({
                                        message: '<div class="p-3 bg-' + window.statusResponse + '">' + window.response + '</div>',
                                        timeout: 500,
                                        css: {
                                            backgroundColor: 'transparent',
                                            border: '0'
                                        },
                                        overlayCSS: {
                                            opacity: 0.25
                                        }
                                    });
                                }
                            });
                        }
                    });
                });
            }
        </script>

        <script>
            $(document).ready(function () {
                drawBackgroundBanner()
            });

            function drawBackgroundBanner() {
                let url = baseUrl + 'getBackgroundBanner/';
                $.ajax({
                    url: url,
                    method: 'GET',
                    dataType: 'JSON',
                    success: function (result) {
                        $('<img ' +
                            'src="' + (result.url != null ? result.url : 'https://via.placeholder.com/250x200&text=Empty') + '"' +
                            ' class="img-fluid"\n' +
                            ' id="background-image"\n' +
                            ' style="max-width: 250px; max-height: 200px;">').appendTo('#backgroundImageBlock');
                    },
                    error: function (error) {
                        console.log(error)
                        console.log("Проблемма в отрисовке всех баннера");
                    }
                })


            }

            function editBackgroundBanner(element) {
                let file = element.files[0];
                let formData = new FormData();
                formData.append("file", file);
                let url = baseUrl + 'editBackgroundBanner/';
                $.ajax({
                    url: url,
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        let url2 = baseUrl + 'getBackgroundBanner/';
                        $.ajax({
                            url: url2,
                            method: 'GET',
                            success: function (result) {
                                console.log("Загружено", result);
                                let imageBlock = $('#background-image');
                                imageBlock.remove();
                                drawBackgroundBanner();
                            },
                            error: function (error) {
                                console.error("Ошибка при загрузке файла:", error);
                            }
                        });
                    },
                    error: function (error) {
                        console.error("Ошибка при загрузке файла:", error);
                    }
                });

            }

            function removeBackgroundBanner() {
                let block = $('#background-image');
                block.remove();
                let url = baseUrl + 'deleteBackgroundBanner/'
                $.ajax({
                    url: url,
                    method: 'POST',
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        drawBackgroundBanner();
                    },
                    error: function (error) {
                        console.error("Ошибка при загрузке файла:", error);
                    }
                });
            }

            $(document).ready(function () {
                $('input[name="backgroundImage"]').change(function () {

                    let radioButtonValue = $(this).val();
                    let url = baseUrl + 'changeBackgroundBannerBlock/'
                        $.ajax({
                        url: url,
                        type: 'POST',
                        data: {radioButton: radioButtonValue},
                        success: function (response) {
                            console.log(response);
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                showAllBannerForNewsAndStocks()
            });

            function showAllBannerForNewsAndStocks() {
                let url = baseUrl + 'showAllBannerForNewsAndStocks/'
                $.ajax({
                    url: url,
                    method: 'GET',
                    dataType: 'JSON',
                    success: function (result) {
                        console.log(result);
                        drawBannerForNewsAndStocks(result)
                    },
                    error: function (error) {
                        console.log(error)
                        console.log("Проблемма в отрисовке всех баннеров");
                    }
                })
            }

            function drawBannerForNewsAndStocks(result) {
                for (const data of result) {
                    $('<div class="col" id="BannerForNewsAndStocksBlock' + data.id + '">\n' +
                        '    <div class="card text-center mb-2">\n' +
                        '        <div class="card-header" id="BannerForNewsAndStocksImageBlock' + data.id + '">\n' +
                        '            <a type="button" onclick="removeBlockBannerForNewsAndStocks(this, ' + data.id + ')" \n' +
                        '               class="btn rounded-pill btn-icon btn-label-danger position-absolute top-0 end-0">\n' +
                        '            <span class="fa-solid fa-x">\n' +
                        '            </span>\n' +
                        '            </a>\n' +
                        '            <img class="card-img-top"\n' +
                        '                 id="imageBannerForNewsAndStocks' + data.id + '"\n' +
                        '                 src="' + (data.pathImage != null ? data.pathImage : 'https://via.placeholder.com/250x200&text=Empty') + '"' +
                        '                 alt="Card image cap"/>\n' +
                        '        </div>\n' +
                        '        <div class="card-body">\n' +
                        '            <input type="file"\n' +
                        '                   class="form-control"  \n' +
                        '                   onchange="editBannerForNewsAndStocks(this, ' + data.id + ')" ' +
                        '                   accept="image/png, image/jpeg"\n' +
                        '            <div class="form-group mb-1">\n' +
                        '                <input type="hidden" name="idBannerForNewsAndStocks[]" class="form-control" value="' + data.id + '" placeholder="URL">\n' +
                        '                <input type="text" name="urlBannerForNewsAndStocks[]" class="form-control" value="' + data.url + '" placeholder="URL">\n' +
                        '                <input type="text" name="textBannerForNewsAndStocks[]" class="form-control" value="' + data.title + '" placeholder="Текст">\n' +
                        '            </div>\n' +
                        '        </div>\n' +
                        '    </div>\n' +
                        '</div>').appendTo('#BannerForNewsAndStocksBlock');
                }
            }

            function editBannerForNewsAndStocks(element, id) {
                let file = element.files[0];
                let formData = new FormData();
                formData.append("file", file);
                let url = baseUrl + 'editBannerForNewsAndStocks/' + id;
                    $.ajax({
                    url: url,
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        let url2 = baseUrl + 'getBannerForNewsAndStocks/' + id
                        $.ajax({
                            url: url2,
                            method: 'GET',
                            success: function (result) {
                                console.log("Загружено", result);
                                let imageBlock = $('#imageBannerForNewsAndStocks' + id);

                                $('<img class="card-img-top"\n' +
                                    'id="imageBannerForNewsAndStocks' + result.id + '" ' +
                                    'src="' + (result.pathImage != null || result.pathImage != "" ? result.pathImage : 'https://via.placeholder.com/250x200&text=Empty') + '" ' +
                                    'alt="Card image cap"/>').appendTo("#BannerForNewsAndStocksImageBlock" + result.id);
                                imageBlock.remove();
                            },
                            error: function (error) {
                                console.error("Ошибка при загрузке файла:", error);
                            }
                        });
                    },
                    error: function (error) {
                        console.error("Ошибка при загрузке файла:", error);
                    }
                });

            }

            function addBlockBannerForNewsAndStocks() {
                let index;
                let url = baseUrl + 'createBannerForNewsAndStocks/';
                $.ajax({
                    url: url,
                    method: 'GET',
                    dataType: 'JSON',
                    success: function (result) {
                        console.log("Download", result);
                        drawBannerForNewsAndStocks(result)
                    }
                })
            }

            function removeBlockBannerForNewsAndStocks(element, id) {
                let block = $('#BannerForNewsAndStocksBlock' + id);
                block.remove();
                let url = baseUrl + 'deleteBannerForNewsAndStocks/' + id
                $.ajax({
                    url: url,
                    method: 'GET',
                    dataType: 'JSON',
                    success: function (result) {
                        console.log(result);
                    }
                })
            }
        </script>

        <!--        Отправка формы целого блока-->
        <script>
            $(document).ready(function () {
                $('#BannerForNewsAndStocksForm').submit(function (event) {
                    event.preventDefault();

                    let entities = [];

                    $('input[name="idBannerForNewsAndStocks[]"]').each(function (index) {
                        let id = $(this).val();
                        let url = $('input[name="urlBannerForNewsAndStocks[]"]').eq(index).val();
                        let text = $('input[name="textBannerForNewsAndStocks[]"]').eq(index).val();

                        let entityText = {
                            id: id,
                            url: url,
                            text: text
                        };
                        entities.push(entityText);
                    });

                    let entity = {
                        statusBlockBannerForNewsAndStocks: $('input[name="statusBlockBannerForNewsAndStocks"]').prop('checked'),
                        timeChangeBlockBannerForNewsAndStocks: $('select[name="timeChangeBlockBannerForNewsAndStocks"]').val(),
                        mainBannersItemDto: entities
                    };

                    let jsonData = JSON.stringify(entity);
                    let url = baseUrl + 'editAllBannerForNewsAndStocks/';
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: jsonData,
                        contentType: 'application/json',
                        success: function (response) {
                            console.log(response);
                            window.response = "Успех";
                            window.statusResponse = "success";
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                            window.response = "Перезагрузите страницу и повторите попытку";
                            window.statusResponse = "danger";
                        }
                    });
                });
            });

            let formSectionBannerForNewsAndStocks = $('#BannerForNewsAndStocksForm');
            let formBlockMultipleBannerForNewsAndStocks = $('#saveButtonBannerForNewsAndStocks');

            if (formBlockMultipleBannerForNewsAndStocks.length && formSectionBannerForNewsAndStocks.length) {
                formBlockMultipleBannerForNewsAndStocks.on('click', function () {
                    formSectionBannerForNewsAndStocks.block({
                        message:
                            '<div class="d-flex justify-content-center"><p class="mb-0">Please wait...</p> <div class="sk-wave m-0"><div class="sk-rect sk-wave-rect"></div> <div class="sk-rect sk-wave-rect"></div> <div class="sk-rect sk-wave-rect"></div> <div class="sk-rect sk-wave-rect"></div> <div class="sk-rect sk-wave-rect"></div></div> </div>',
                        css: {
                            backgroundColor: 'transparent',
                            color: '#fff',
                            border: '0'
                        },
                        overlayCSS: {
                            opacity: 0.5
                        },
                        timeout: 1000,
                        onUnblock: function () {
                            formSectionBannerForNewsAndStocks.block({
                                message: '<p class="mb-0">Almost Done...</p>',
                                timeout: 1000,
                                css: {
                                    backgroundColor: 'transparent',
                                    border: '0'
                                },
                                overlayCSS: {
                                    opacity: 0.25
                                },
                                onUnblock: function () {
                                    formSectionBannerForNewsAndStocks.block({
                                        message: '<div class="p-3 bg-' + window.statusResponse + '">' + window.response + '</div>',
                                        timeout: 500,
                                        css: {
                                            backgroundColor: 'transparent',
                                            border: '0'
                                        },
                                        overlayCSS: {
                                            opacity: 0.25
                                        }
                                    });
                                }
                            });
                        }
                    });
                });
            }
        </script>


    </div>
</div>
</body>
</html>