<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/template/layout.html">

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="card" >
            <div class="card-header d-flex justify-content-center">
                <h3>SMS</h3>
            </div>
            <div class="card-body">
                <div class="row flex-wrap">
                    <label class="col-3"
                    >Выбрать пользователей кому слать:
                    </label>
                    <div class="col-3">
                        <input
                                type="radio"
                                class="form-check-input"
                                name="optional"
                                checked
                        />
                        <label class="form-label">Все пользователи</label>
                    </div>
                    <div class="col-2">
                        <input
                                type="radio"
                                class="form-check-input"
                        />
                        <label class="form-label">Выборочно</label>
                    </div>
                    <button
                            type="button"
                            class="btn-outline-primary btn col-3"
                    >
                        Выбрать пользователей
                    </button>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <div
                                class="row d-flex flex-row justify-content-between"
                        >
                            <label class="col-form-label-sm col-4"
                            >Текст SMS</label
                            >
                            <label class="col-form-label-sm col-4"
                            >Символов: 0</label
                            >
                        </div>
                        <div class="form-group">
                          <textarea
                                  class="col form-control"
                                  rows="6"
                                  name="text-sms"
                          >
                          </textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row col-8 d-flex flex-row mt-5">
                            <label class="form-label col-5">Кол-во SMS </label>
                            <label class="form-label col-5">
                                1000
                            </label
                            >
                        </div>
                        <div class="row d-flex flex-row">
                            <label class="form-label col-5"
                            >Рассылка выполнена на:
                            </label>
                            <label
                                    class="form-label col-3 text-success">
                                45%
                            </label
                            >
                            <label class="form-label col-3 ms-3">
                                20 000
                            </label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row d-flex justify-content-center">
                    <button
                            type="button"
                            class="btn btn-outline-primary col-3">
                        Начать рассылку
                    </button>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header d-flex justify-content-center">
                <span class="h3">E-mail</span>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        class="mail-form"
                        enctype="multipart/form-data"
                        novalidate
                >
                    <div
                            class="row d-flex flex-row justify-content-between align-items"
                    >
                        <label class="form-label col-2"
                        >Выбрать пользователей кому слать:
                        </label>
                        <div class="col-3 form-check form-check-inline">
                            <input
                                    type="radio"
                                    class="form-check-input"
                                    checked
                            />
                            <label class="form-label">Все пользователи</label>
                        </div>
                        <div class="col-2 form-check form-check-inline">
                            <input
                                    type="radio"
                                    class="form-check-input"
                            />
                            <label class="form-label">Выборочно</label>
                        </div>
                        <button
                                type="button"
                                class="btn-outline-primary btn col-3"
                                disabled
                        >
                            Вибрати користувачів
                        </button>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6">
                            <div
                                    class="row d-flex flex-row justify-content-between"
                            >
                                <label class="col-form-label-sm w-auto"
                                >Загрузить HTML-письмо
                                    <input
                                            type="file"
                                            id="file-html"
                                            name="htmlTemplate"
                                            class="file-input"
                                            accept=".html"
                                    /></label>
                            </div>
                            <div class="row d-flex flex-row col-sm-auto mt-4">
                                <label class="col-form-label-sm col"
                                >Загружен файл</label
                                >
                                <label
                                        class="col-form-label-sm col text-blue"
                                        id="show-upload"
                                >файл</label
                                >
                            </div>
                            <div class="row d-flex flex-row col-sm-auto">
                                <label class="col-form-label-sm col"
                                >Шаблон используемый в текущей рассылке:
                                </label>
                                <label
                                        class="col-form-label-sm col"
                                ></label
                                >
                            </div>
                            <div class="col mt-5">
                                <div class="row d-flex flex-row justify-content-md-start">
                                    <label class="form-label w-auto"
                                    >Кол-во писем:
                                    </label>
                                    <label class="form-label text-blue w-auto">
                                        173629
                                    </label>

                                    <label class="form-label w-auto">
                                        Рассылка выполнена на:
                                    </label>
                                    <label class="form-label text-blue w-auto">
                                        45%
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <label class="form-label"
                                    >Список последних загруженных шаблонов</label
                                    >
                                    <div class="list-group">
                                        <div class="list-group-item d-flex justify-content-around">
                                            <input
                                                    class="form-check-input me-1"
                                                    type="checkbox"/>
                                            <label>
                                                Новый товар на 05,02,2016
                                            </label>
                                            <a href=""><span>Удалить</span></a>
                                        </div>
                                        <div class="list-group-item d-flex justify-content-around">
                                            <input
                                                    class="form-check-input me-1"
                                                    type="checkbox"/>
                                            <label>
                                                Новый товар на 05,02,2016
                                            </label>
                                            <a href=""><span>Удалить</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center mt-4">
                        <button
                                type="button"
                                class="btn btn-outline-primary col-3">
                            Начать рассылку
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>