<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/template/layout.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="row">
            <!-- View sales -->
            <div class="col-xl-4 mb-4 col-lg-5 col-12">
                <div class="card">
                    <div class="d-flex align-items-center row">
                        <div class="col-7">
                            <div class="card-body text-nowrap">
                                <h5 class="card-title mb-0">Фильмов</h5>
                                <p class="mb-2">
                                    <span class="text-primary h3" th:text="${films}">999</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-5 text-center text-sm-left">
                            <div class="card-body pb-0 px-0 px-md-4">
                                <img
                                        th:src="@{/assets/img/illustrations/card-advance-sale.png}"
                                        height="140"
                                        alt="view sales"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 mb-4 col-lg-5 col-12">
                <div class="card">
                    <div class="d-flex align-items-center row">
                        <div class="col-7">
                            <div class="card-body text-nowrap">
                                <h5 class="card-title mb-0">Кинотеатров</h5>
                                <p class="mb-2">
                                    <span class="text-primary h3" th:text="${cinemas}">999</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-5 text-center text-sm-left">
                            <div class="card-body pb-0 px-0 px-md-4">
                                <img
                                        th:src="@{/assets/img/illustrations/card-advance-sale.png}"
                                        height="140"
                                        alt="view sales"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 mb-4 col-lg-5 col-12">
                <div class="card">
                    <div class="d-flex align-items-center row">
                        <div class="col-7">
                            <div class="card-body text-nowrap">
                                <h5 class="card-title mb-0">Зарегистрировано</h5>
                                <p class="mb-2">
                                    <span class="text-primary h3" th:text="${users}">999</span>
                                    Пользователей
                                </p>
                            </div>
                        </div>
                        <div class="col-5 text-center text-sm-left">
                            <div class="card-body pb-0 px-0 px-md-4">
                                <img
                                        th:src="@{/assets/img/illustrations/card-advance-sale.png}"
                                        height="140"
                                        alt="view sales"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="lineChart"></div>
        </div>

        <div>
            <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
            <script th:src="@{/assets/vendor/libs/apex-charts/apexcharts.js}"></script>
            <script th:src="@{/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js}"></script>
            <script th:src="@{/assets/js/dashboards-ecommerce.js}"></script>
            <script th:src="@{/assets/js/dashboards-crm.js}"></script>
            <script>

                var currentDate = new Date();
                var currentMonth = currentDate.getMonth();
                var months = [
                    "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь",
                    "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"
                ];

                var startIndex = currentMonth - 7;
                if (startIndex < 0) {
                    startIndex += 12;
                }
                var categories = [];
                for (var i = 0; i < 8; i++) {
                    var index = (startIndex + i) % 12;
                    categories.push(months[index]);
                }

                var sessionStatisticsArray = [[${sessionStatistics}]];
                var options1 = {
                    series: [
                        {
                            name: "Inflation",
                            data: sessionStatisticsArray
                        },
                    ],
                    chart: {
                        height: 350,
                        type: "bar",
                        background: '#333',
                        foreColor: '#fff'
                    },
                    plotOptions: {
                        bar: {
                            borderRadius: 10,
                            dataLabels: {
                                position: "top",
                            },
                        },
                    },
                    dataLabels: {
                        enabled: true,
                        formatter: function (val) {
                            return val;
                        },
                        offsetY: -20,
                        style: {
                            fontSize: "12px",
                            colors: ["#fff"],
                        },
                    },
                    xaxis: {
                        categories: categories,
                        position: "top",
                        axisBorder: {
                            show: false,
                        },
                        axisTicks: {
                            show: false,
                        },
                        crosshairs: {
                            fill: {
                                type: "gradient",
                                gradient: {
                                    colorFrom: "#D8E3F0",
                                    colorTo: "#BED1E6",
                                    stops: [0, 100],
                                    opacityFrom: 0.4,
                                    opacityTo: 0.5,
                                },
                            },
                        },
                        tooltip: {
                            enabled: true,
                        },
                        labels: {
                            style: {
                                colors: ["#fff"],
                            },
                        },
                    },
                    yaxis: {
                        axisBorder: {
                            show: false,
                        },
                        axisTicks: {
                            show: false,
                        },
                        labels: {
                            show: false,
                            formatter: function (val) {
                                return val + "%";
                            },
                            style: {
                                colors: ["#fff"],
                            },
                        },
                    },
                    title: {
                        text: "Количество сеансов по месяцам",
                        floating: true,
                        offsetY: 330,
                        align: "center",
                        style: {
                            color: "#fff",
                        },
                    },
                };

                var chart1 = new ApexCharts(
                    document.querySelector("#lineChart"),
                    options1
                );
                chart1.render();
            </script>
        </div>
    </div>
</div>

</body>
</html>