<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/template/layout.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="tenor-gif-embed" data-postid="24851724" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/khaby-lame-gif-24851724">Khaby Lame GIF</a>from <a href="https://tenor.com/search/khaby-gifs">Khaby GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>
</body>
</html>