<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/template/layout.html">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container d-flex flex-grow-1">
        <div class="container d-flex flex-column min-vh-100">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center align-items-center mb-5">
                    <img class="img-fluid" alt="" style="max-height: 100%; max-width: 100%; object-fit: contain;"
                         src="https://picsum.photos/300/300"/>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div th:each="contact : ${contactsCinemas}" th:if="${contact.status != false}">
                            <div class="row w-100 border rounded p-4">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card mb-3">
                                                <div class="card-body">
                                                    <h5 class="card-title" th:text="${contact.name}">Text</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card mb-3">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img
                                                th:src="${contact.logo != null ? contact.logo : 'https://picsum.photos/300/150'}"
                                                class="card-img-top"
                                                alt="Photo"
                                                style="width: 100%;"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-text" th:text="${contact.address}">
                                                Content for the text section goes here.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mb-3" th:utext="${contact.location}">
                                    </div>
                                </div>
                                <br>
                            </div>
                            <br/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img
                                src="https://picsum.photos/300/900"
                                class="card-img-top"
                                alt="Photo"
                        />
                    </div>
                </div>
            </div>

            <script src="/assets/vendor/libs/leaflet/leaflet.js"></script>
            <script src="/assets/js/maps-leaflet.js"></script>
        </div>
    </div>
</div>
</body>
</html>