<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/template/layout.html">>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <div id="carouselExample" class="carousel slide col-md-12"
           style="width: 1000px; height: 400px"
           data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExample"

              class="active"
              th:each="cinema, i : ${cinemas}"
              th:data-bs-slide-to="${i.index}"
              th:classappend="${i.first ? 'active' : ''}"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item"
               th:each="cinema, i : ${cinemas}"
               th:classappend="${i.first ? 'active' : ''}">
            <a th:href="@{cinema/{id}(id=*{cinema.id})}"  style="width: 1000px; height: 400px">
              <img class="d-block w-100" th:src="@{${cinema.logoPath == null || cinema.logoPath.isEmpty() ? 'https://via.placeholder.com/250x200.png?text=Нет+Изображения' : cinema.logoPath}}" alt="First slide"
                   style="width: 1000px; height: 400px"/>
            </a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </div>
    <div class="container">
      <div class="col-lg-12 mb-4 mb-xl-0">
        <div class="mt-3">
          <div class="row">
            <div class="col-md-10 col-12">
              <div class="tab-content p-0">
                <div class="tab-pane fade show active" id="list-home">
                  <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
                    <div class="col" th:each="cinema, i : ${cinemas}">
                      <div class="card h-100 text-center mb-3">
                        <a th:href="@{/cinema/{id}(id=*{cinema.id})}">
                          <img class="card-img-top"
                               th:src="@{${cinema.logoPath == null || cinema.logoPath.isEmpty() ? 'https://via.placeholder.com/250x200.png?text=Нет+Изображения' : cinema.logoPath}}"
                               alt="Card image cap"/>
                        </a>
                        <div class="card-body">
                          <h5 class="card-title" th:text="${cinema.name}">Card title</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-12 mb-3 mb-md-0">
              <div class="d-flex justify-content-center align-items-center h-100 border rounded mt-5"
                   style="max-height: 150px">
                <p>Реклама</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>