<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/template/layout.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center align-items-center mb-5">
                    <img class="img-fluid" alt="" style="max-height: 100%; max-width: 100%; object-fit: contain;"
                         th:src="${hall.topBanner}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <img class="w-100 m-1"
                         src="https://picsum.photos/80/400"
                         alt="https://picsum.photos/80/400">

                    <ul class="list-group">
<!--                        <li class="list-group-item d-flex justify-content-between align-items-center" th:each="hall : ${cinema.halls}">-->
<!--                            <a class="menu-link" th:href="@{/hall/{id}(id=${hall.id})}" th:text="${hall.hallNumber}"></a>-->
<!--                        </li>-->
                    </ul>

                </div>
                <div class="col-md-10 flex-row">
                    <h4 class="card-title text-center" th:text="${hall.hallNumber}"></h4>
                    <br/>
                    <p class="card-text " th:text="${hall.description}"></p>
                    <h4 class="card-title text-center">Карта зала</h4>
                    <br/>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center align-items-center mb-5">
                            <img class="img-fluid" alt="" style="max-height: 100%; max-width: 100%; object-fit: contain;"
                                 th:src="${hall.urlSchemeImageHall}"/>
                        </div>
                    </div>
                    <h4 class="card-title text-center">Фотогалерея</h4>
                    <br/>
                    <div class="row">
                        <div class="d-flex justify-content-center ">
                            <div id="carouselExample" class="carousel slide col-md-12"
                                 style="width: 1000px; height: 400px"
                                 data-bs-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#carouselExample"

                                        class="active"
                                        th:each="bannerBlocks, i : ${hall.imagesHall}"
                                        th:data-bs-slide-to="${i.index}"
                                        th:classappend="${i.first ? 'active' : ''}"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item"
                                         th:each="image, i : ${hall.imagesHall}"
                                         th:classappend="${i.first ? 'active' : ''}">
                                        <a th:href="@{films/editFilm/{id}(id=*{image.url})}"  style="width: 1000px; height: 400px">
                                            <img class="d-block w-100" th:src="${image.url}" alt="First slide"
                                                 style="width: 1000px; height: 400px"/>
                                        </a>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>