<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/template/layout.html">

<body>
<div layout:fragment="content">
    <div class="container">
        <form th:method="post"
              th:object="${mainPage}"
              th:action="@{editMainPage/{id}(id=${mainPage.id})}">
            <div class="row justify-content-end">
                <div class="flex justify-content-end row">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-pills" role="tablist" style="display: flex; justify-content: flex-end;">
                            <div class="form-check form-switch form-check-inline col-1 my-auto">
                                <input class="form-check-input" type="checkbox" th:field="*{status}"/>
                            </div>
                            <li class="nav-item ml-auto">
                                <button
                                        type="button"
                                        class="nav-link active"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#navs-pills-within-card-active"
                                        aria-controls="navs-pills-within-card-active"
                                        aria-selected="true"
                                >
                                    Русский
                                </button>
                            </li>
                            <li class="nav-item">
                                <button
                                        type="button"
                                        class="nav-link"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#navs-pills-within-card-link"
                                        aria-controls="navs-pills-within-card-link"
                                        aria-selected="false"
                                >
                                    Link
                                </button>
                            </li>
                            <li class="nav-item">
                                <button
                                        type="button"
                                        class="nav-link disabled"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        aria-selected="false"
                                >
                                    English
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="tab-content p-0 pt-4">
                    <div class="tab-pane fade show active" id="navs-pills-within-card-active" role="tabpanel">
                        <div class="row mb-4">

                            <label for="phoneNumber" class="col-sm-1 col-form-label-sm">Телефон</label>
                            <div class="col-sm-3">
                                <input type="text" th:field="*{phoneNumber}"
                                       id="phoneNumber" class="form-control form-control-sm">
                                <input type="text" th:field="*{phoneNumber2}"
                                       class="form-control form-control-sm mt-2">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="seoText" class="col-sm-1 col-form-label-sm">SEO text</label>
                            <div class="col-sm-11">
                                <textarea
                                        type="text"
                                        id="seoText"
                                        class="form-control"
                                        rows="5"
                                        th:field="*{seoText}">

                                </textarea>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-2">
                                <label class="col-form-label-sm">SEO блок</label>
                            </div>
                            <div class="col-10">
                                <div class="seo_block col-sm-10">
                                    <div class="row">
                                        <label for="seoUrl" class="col-sm-2 col-form-label-sm justify-content-end">Url:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="seoUrl" class="form-control form-control-sm col-sm-8" th:field="*{seoUrl}">
                                        </div>
                                    </div>
                                </div>
                                <div class="seo_block col-sm-10 mt-2">
                                    <div class="row">
                                        <label for="seoTitle" class="col-sm-2 col-form-label-sm justify-content-end">Title:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="seoTitle" class="form-control form-control-sm col-sm-8"
                                                   th:field="*{seoTitle}">
                                        </div>
                                    </div>
                                </div>
                                <div class="seo_block col-sm-10 mt-2">
                                    <div class="row">
                                        <label for="seoKeywords" class="col-sm-2 col-form-label-sm justify-content-end">Keywords:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="seoKeywords" class="form-control form-control-sm col-sm-8"
                                                   th:field="*{seoKeywords}">
                                        </div>
                                    </div>
                                </div>
                                <div class="seo_block col-sm-10 mt-2">
                                    <div class="row">
                                        <label for="seoDescription" class="col-sm-2 col-form-label-sm justify-content-end">Description:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="seoDescription" class="form-control form-control-lg col-sm-8"
                                                   th:field="*{seoDescription}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="d-grid gap-2 col-3 mx-auto mt-3">
                                    <button type="submit" class="btn btn-outline-primary">Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="navs-pills-within-card-link" role="tabpanel">
                        <h4 class="card-title">Special link title</h4>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="javascript:void(0)" class="btn btn-secondary">Go somewhere</a>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>
</body>
</html>