<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/template/layout.html">

<body>
<div layout:fragment="content">
    <div class="container">
        <form th:method="post"
              class="needs-validation"
              th:object="${pageCommon}"
              th:action="@{/admin/pages/editPage/{id}(id=${pageCommon.id})}"
              enctype="multipart/form-data">
            <div class="row justify-content-end">
                <input type="hidden" th:field="*{id}"/>
                <div class="flex justify-content-end row">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-pills" role="tablist"
                            style="display: flex; justify-content: flex-end;">
                            <div class="form-check form-switch form-check-inline col-1 my-auto">
                                <label>
                                    <input class="form-check-input" type="checkbox" th:field="*{status}"/>
                                </label>
                            </div>
                            <li class="nav-item ml-auto">
                                <button
                                        type="button"
                                        class="nav-link active"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#navs-pills-within-card-active"
                                        aria-controls="navs-pills-within-card-active"
                                        aria-selected="true"
                                >
                                    Русский
                                </button>
                            </li>

                            <li class="nav-item">
                                <button
                                        type="button"
                                        class="nav-link disabled"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        aria-selected="false"
                                >
                                    English
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="tab-content p-0 pt-4">
                    <div class="tab-pane fade show active" id="navs-pills-within-card-active" role="tabpanel">
                        <div class="row mb-4">
                            <label class="col-sm-1 col-form-label-sm">Название</label>
                            <div class="col-sm-6">
                                <input type="text"
                                       class="form-control form-control-sm"
                                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                                       th:field="*{name}">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="col-sm-1 col-form-label-sm">Описание</label>
                            <div class="col-sm-11">
                                <div class="card-body">
                                    <textarea
                                              data-autosize
                                              class="form-control"
                                              th:field="*{description}">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4" id="mainImageBigBlock">
                            <div class="row align-items-center image-container">
                                <div class="col-6 image-container" id="mainImageBlock">
                                    <label class="col-form-label col-sm-2">
                                        Главная картинка
                                    </label>
                                    <img th:src="@{${pageCommon.mainImage == null || pageCommon.mainImage == '' ? '/customAssets/noImage.png' : pageCommon.mainImage  }}"
                                         class="img-fluid" id="mainImage"
                                         th:id="'MainImageFilm' + ${pageCommon.id}"
                                         style="max-width: 250px;
                                          max-height: 200px;" alt="">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">
                                        <input type="file"
                                               th:field="*{mainImage}"
                                               class="form-control"
                                               accept="image/png, image/jpeg"
                                               th:data-image-id="'MainImageFilm'+${pageCommon.id}"
                                               name="mainImagePage"
                                               onchange="previewImage(this)"/>
                                    </label>
                                    <label class="form-label">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label>Галерея картинок</label>
                            <div class="col-12">
                                <div class="row align-items-center" id="gallery-image">
                                    <div class="col-3 image-item" th:each="imageNews, i : *{imagesAboutCinema}">
                                        <div class="card text-center mb-2">
                                            <div style="object-fit : contain" class="card-header">
                                                <img th:src="@{*{imagesAboutCinema[__${i.index}__].url} }"
                                                     th:id="'imagesAboutCinema' + ${i.index}"
                                                     class="img-fluid mb-2"
                                                     style="object-fit : cover; height: 200px">
                                            </div>
                                            <div class="card-body">
                                                <input type=hidden class="form-control"
                                                       th:field="*{imagesAboutCinema[__${i.index}__].id}">
                                                <input type="file" class="form-control"
                                                       th:data-image-id="'imagesAboutCinema' + ${i.index}"
                                                       th:field="*{imagesAboutCinema[__${i.index}__].url}"
                                                       accept="image/png, image/jpeg"
                                                       onchange="previewImage(this)"
                                                       multiple
                                                />
                                                <div class="form-group mb-1">
                                                    <button style="width: 100%;"
                                                            type="button"
                                                            onclick="removeImageBlock(this, '.image-item')"
                                                            class="btn btn-danger">
                                                        Удалить
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="button" id="add-image-button" class="btn btn-primary">Добавить</button>
                            </div>
                            <div th:text="${appContextPath}" hidden id="appContextPath"></div>
                            <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
                            <script>
                                let appContextPath = document.getElementById("appContextPath").textContent
                                $(document).ready(function () {
                                    const textarea = document.querySelectorAll('[data-autosize]');
                                    autosize(textarea);
                                });

                                document.getElementById("add-image-button").addEventListener("click", function () {
                                    addNewImageItem('imagesAboutCinema');
                                });

                                document.addEventListener('DOMContentLoaded', function (e) {
                                    let id = document.getElementById("id").value;
                                    let mainImage = document.getElementById("MainImageFilm" + id).getAttribute('src') === appContextPath + '/customAssets/noImage.png';
                                    let fields = {
                                        name: {
                                            validators: {
                                                notEmpty: {
                                                    message: 'Пожалуйста, введите ваше имя'
                                                },
                                                regexp: {
                                                    regexp: /^[а-яА-ЯёЁa-zA-Z0-9]+$/,
                                                    message: 'Имя должно содержать только буквы'
                                                }
                                            }
                                        },
                                        datePosting: {
                                            validators: {
                                                notEmpty: {
                                                    message: 'Пожалуйста, введите дату публикации'
                                                }
                                            }
                                        },
                                        description: {
                                            validators: {
                                                notEmpty: {
                                                    message: 'Пожалуйста, введите описание'
                                                },
                                                stringLength: {
                                                    min: 10,
                                                    max: 1000,
                                                    message: 'Описание должно содержать не менее 10 символов'
                                                }

                                            }
                                        },
                                        linkVideo: {
                                            validators: {
                                                notEmpty: {
                                                    message: 'Пожалуйста, введите ссылку на трейлер'
                                                },
                                                regexp: {
                                                    regexp: /https:\/\/youtu\.be\/([a-zA-Z0-9_-]{1,100})/,
                                                    message: 'Ссылка должна быть в формате https://youtu.be/трейлер'
                                                }
                                            },
                                        },
                                        seoUrl: {
                                            validators: {
                                                notEmpty: {
                                                    message: 'Пожалуйста, введите SEO URL'
                                                }
                                            }
                                        },
                                        seoTitle: {
                                            validators: {
                                                notEmpty: {
                                                    message: 'Пожалуйста, введите SEO Title'
                                                }
                                            }
                                        },
                                        seoDescription: {
                                            validators: {
                                                notEmpty: {
                                                    message: 'Пожалуйста, введите SEO Description'
                                                }
                                            }
                                        },
                                        seoKeywords: {
                                            validators: {
                                                notEmpty: {
                                                    message: 'Пожалуйста, введите SEO Keywords'
                                                }
                                            }
                                        },
                                    }
                                    if (mainImage) {
                                        fields['mainImage'] = {
                                            validators: {
                                                notEmpty: {
                                                    message: 'Пожалуйста, выберите главное изображение'
                                                }
                                            }
                                        }
                                    }
                                    (function () {
                                        const formValidationExamples = document.querySelector(".needs-validation");
                                        const fv = FormValidation.formValidation(formValidationExamples, {
                                            fields,

                                            plugins: {
                                                trigger: new FormValidation.plugins.Trigger(),
                                                bootstrap5: new FormValidation.plugins.Bootstrap5({
                                                    eleValidClass: '',
                                                    rowSelector: '.row',
                                                }),
                                                submitButton: new FormValidation.plugins.SubmitButton(),
                                                defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                                                autoFocus: new FormValidation.plugins.AutoFocus()
                                            },
                                            init: instance => {
                                                instance.on('plugins.message.placed', function (e) {
                                                    if (e.element.parentElement.classList.contains('input-group')) {

                                                        e.element.parentElement.insertAdjacentElement('afterend', e.messageElement);
                                                    }
                                                    if (e.element.parentElement.parentElement.classList.contains('custom-option')) {
                                                        e.element.closest('.row').insertAdjacentElement('afterend', e.messageElement);
                                                    }
                                                });
                                            }
                                        });
                                    })();
                                });


                            </script>
                        </div>
                        <div class="row mb-4">
                            <div class="col-2">
                                <label class="col-form-label-sm">SEO блок</label>
                            </div>
                            <div class="col-10">
                                <div class="col-sm-10">
                                    <div class="row">
                                        <label for="seoUrl"
                                               class="col-sm-2 col-form-label-sm justify-content-end">Url:</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="seoUrl"
                                                   class="form-control form-control-sm col-sm-8"
                                                   th:classappend="${#fields.hasErrors('seoUrl')} ? 'is-invalid'"
                                                   th:field="*{seoUrl}">
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('seoUrl')}" th:errors="*{seoUrl}"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10 mt-2">
                                    <div class="row">
                                        <label for="seoTitle" class="col-sm-2 col-form-label-sm justify-content-end">Title:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="seoTitle"
                                                   class="form-control"
                                                   th:classappend="${#fields.hasErrors('seoTitle')} ? 'is-invalid'"
                                                   th:field="*{seoTitle}"
                                            >
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('seoTitle')}" th:errors="*{seoTitle}"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10 mt-2">
                                    <div class="row">
                                        <label for="seoKeywords" class="col-sm-2 col-form-label-sm justify-content-end">Keywords:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="seoKeywords"
                                                   class="form-control"
                                                   th:classappend="${#fields.hasErrors('seoKeywords')} ? 'is-invalid'"
                                                   th:field="*{seoKeywords}"
                                            >
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('seoKeywords')}" th:errors="*{seoKeywords}"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10 mt-2">
                                    <div class="row">
                                        <label for="seoDescription"
                                               class="col-sm-2 col-form-label-sm justify-content-end">Description:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="seoDescription"
                                                   class="form-control"
                                                   th:classappend="${#fields.hasErrors('seoDescription')} ? 'is-invalid'"
                                                   th:field="*{seoDescription}">
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('seoDescription')}" th:errors="*{seoDescription}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="d-grid gap-2 col-3 mx-auto mt-3">
                                    <button type="submit" class="btn btn-outline-primary">Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>