<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<footer layout:fragment="head" class="content-footer footer bg-footer-theme">
    <div class="container-xxl">
        <div
                class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column"
        >
            <div>
                ©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                , made with ❤️ by <a href="https://pixinvent.com" target="_blank" class="fw-semibold">Pixinvent</a>
            </div>
            <div>
                <a
                        href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/documentation/"
                        target="_blank"
                        class="footer-link me-4"
                >Documentation</a
                >
            </div>
        </div>
    </div>
</footer>
</html>