<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/template/layout.html">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center align-items-center mb-5">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="1400" height="600" th:src="${film.linkTrailer}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="https://picsum.photos/400/400" alt="https://picsum.photos/400/400">
                </div>
                <div class="col-md-6 flex-row">
                    <h2 class="text-center" th:text="${film.name}">Неоновый демон</h2>
                    <p th:text="${film.description}">Красочный психологический триллер от обладателя премии Каннского кинофестиваля и автора "Только Бог простит" с Райаном Гослингом и "Бронсон" с Томом Харди.</p>
                    <div class=" text-center">
                        <a href="#" class="btn btn-primary">Купить билет</a>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <div class="row ">
                        <div class="col-md-6">
                            <img src="https://picsum.photos/400/400" alt="...">
                        </div>

                        <div class="col-md-6">
                            <h2>Кадры и постеры</h2>
                            <div class="row">
                                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">

                                        <div th:each="imageCinema, i : ${film.imagesFilm}" th:classappend="${i.first ? 'active' : ''}"
                                             class="carousel-item"
                                             th:data-bs-interval="5000"
                                             style="height: 50vh;">
                                            <div class="position-relative d-flex justify-content-center align-items-center">
                                                <img class=" d-block justify-content-center align-items-center" alt="" style="height: 50vh;" th:src="${imageCinema.url}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>