<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/template/layout.html">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div th:each="banner, i : ${banners}" th:classappend="${i.first ? 'active' : ''}" class="carousel-item"
                     th:data-bs-interval="${bannerBlocks.timeChange}*1000"
                     style="height: 50vh;">
                    <a th:href="@{films/editFilm/{id}(id=*{banner.url})}" class="position-relative d-flex justify-content-center align-items-center">
                        <img class="d-block justify-content-center align-items-center" alt="" style="height: 50vh;" th:src="${banner.pathImage}"/>
                        <h4 class="fw-bold text-center text-white position-absolute start-50 translate-middle-x" style="top: 75vh;" th:text="${banner.title}"></h4>
                    </a>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div th:if="${currentFilm.size()} > 0" class="d-flex flex-row justify-content-center align-items-center">
            <h4 class="fw-bold pt-3">Смотрите сегодня
                <span id="date"></span>
            </h4>

            <script>
                var options = { day: 'numeric', month: 'long' };
                var russianDate = new Date().toLocaleDateString('ru-RU', options);
                document.getElementById('date').textContent = russianDate;
            </script>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
            <div class="col" th:each="film, i : ${currentFilm}">
                <div class="card h-100 text-center mb-3">
                    <a th:href="@{films/editFilm/{id}(id=*{film.id})}">
                        <img class="card-img-top"
                             th:src="${film.mainImage == null || film.mainImage.isEmpty() ? 'https://via.placeholder.com/250x200&text=Empty' : film.mainImage}"
                             alt="Card image cap"/>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${film.name}">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${futureFilm.size()} > 0" class="d-flex flex-row justify-content-center align-items-center">
            <h4 class="fw-bold pt-3">Смотрите скоро</h4>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
            <div class="col" th:each="film, i : ${filmsFutureList}">
                <div class="card h-100 text-center mb-3">
                    <a th:href="@{films/editFilm/{id}(id=*{film.id})}">
                        <img class="card-img-top"
                             th:src="${film.mainImage == null || film.mainImage.isEmpty() ? 'https://via.placeholder.com/250x200&text=Empty' : film.mainImage}"
                             alt="Card image cap"/>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${film.name}">Card title</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>