<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/template/layout.html">

<body>
<div layout:fragment="content">
    <div class="container">
        <form th:method="post"
              th:object="${stock}"
              th:action="@{{id}(id=${stock.id})}"
              enctype="multipart/form-data">
            <div class="row justify-content-end">
                <div class="flex justify-content-end row">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-pills" role="tablist"
                            style="display: flex; justify-content: flex-end;">
                            <div class="form-check form-switch form-check-inline col-1 my-auto">
                                <label>
                                    <input class="form-check-input" type="checkbox" th:field="*{status}"/>
                                </label>
                            </div>
                            <li class="nav-item ml-auto">
                                <button
                                        type="button"
                                        class="nav-link active"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#navs-pills-within-card-active"
                                        aria-controls="navs-pills-within-card-active"
                                        aria-selected="true"
                                >
                                    Русский
                                </button>
                            </li>
                            <li class="nav-item">
                                <button
                                        type="button"
                                        class="nav-link"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#navs-pills-within-card-link"
                                        aria-controls="navs-pills-within-card-link"
                                        aria-selected="false"
                                >
                                    Link
                                </button>
                            </li>
                            <li class="nav-item">
                                <button
                                        type="button"
                                        class="nav-link disabled"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        aria-selected="false"
                                >
                                    English
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="tab-content p-0 pt-4">
                    <div class="tab-pane fade show active" id="navs-pills-within-card-active" role="tabpanel">
                        <div class="row mb-4">
                            <label class="col-sm-1 col-form-label-sm">Название</label>
                            <div class="col-sm-6">
                                <input type="text"
                                       class="form-control form-control-sm"
                                       th:field="*{name}">
                            </div>
                            <label for="datePosting" class="col-sm-2 col-form-label">Дата публикации</label>
                            <div class="col-sm-3">
                                <input type="date"
                                       class="form-control"
                                       id="datePosting"
                                       placeholder="Введите дату рождения"
                                       th:field="*{datePosting}">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="col-sm-1 col-form-label-sm">Описание</label>
                            <div class="col-sm-11">
                                <div class="card-body">
                                    <textarea id="autosize-demo"
                                              class="form-control"
                                              data-autosize
                                              th:field="*{description}">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4" id="mainImageBigBlock">
                            <div class="row align-items-center">
                                <div class="col-6" id="mainImageBlock">
                                    <label class="col-form-label col-sm-2">
                                        Главная картинка
                                    </label>

                                </div>
                                <div class="col-6">
                                    <label class="form-label">
                                        <input type="file"
                                               class="form-control"
                                               accept="image/png, image/jpeg"
                                               name="mainImagePage"
                                               onchange="changeMainPage(this)"/>
                                    </label>
                                    <label class="form-label">
                                        <a>
                                            <button
                                                    type="button"
                                                    class="btn btn-danger"
                                            onclick="deleteMainImage(this)">
                                                Удалить
                                            </button>
                                        </a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label>Галерея картинок</label>
                            <div class="col-12">
                                <div class="row align-items-center" id="gallery-image">
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="button" id="add-image-button" class="btn btn-primary">Добавить</button>
                            </div>
                            <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
                            <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
                            <script>
                                $(document).ready(function () {
                                    showMainImage();
                                    showAllImages();
                                    const textarea = document.querySelectorAll('[data-autosize]');
                                    autosize(textarea);
                                });


                                showMainImage = () =>{
                                    $.ajax({
                                        url: '/admin/stocks/editStock/showMainPage/' + [[${stock.id}]],
                                        method: 'GET',
                                        dataType: 'JSON',
                                        success: function (result) {
                                            console.log(result)
                                            $('<img src="' +
                                                (result.mainImage == null ? 'https://via.placeholder.com/250x200&text=Empty' : result.mainImage)
                                                + '"' +
                                                ' class="img-fluid"\n' +
                                                ' id="mainImage" \n' +
                                                ' style="max-width: 250px;' +
                                                ' max-height: 200px;">').appendTo('#mainImageBlock');

                                        },
                                        error: function (){
                                            console.log('error Main page');
                                        }
                                    })
                                }

                                function changeMainPage(element){
                                    let file = element.files[0];
                                    let formData = new FormData();
                                    formData.append("file", file);

                                    $.ajax({
                                        url: '/admin/stocks/editStock/editMainPage/' + [[${stock.id}]],
                                        method: 'POST',
                                        data: formData,
                                        processData: false,
                                        contentType: false,
                                        success: function (result) {
                                            console.log("Выгрузка файла прошла успешно");
                                            let nearestImg = $(element).closest('#mainImageBigBlock').find('#mainImage');
                                            nearestImg.remove();
                                            showMainImage();
                                        },
                                        error: function (error) {
                                            console.error("Ошибка при загрузке файла:", error);
                                        }
                                    });
                                }

                                function deleteMainImage(element){
                                    let nearestImg = $(element).closest('#mainImageBigBlock').find('#mainImage');
                                    nearestImg.remove();
                                    $.ajax({
                                        url: '/admin/stocks/editStock/deleteMainPage/' + [[${stock.id}]],
                                        method: 'POST',
                                        processData: false,
                                        contentType: false,
                                        success: function (result) {
                                            console.log(result);
                                            showMainImage();
                                        },
                                        error: function (){
                                          console.log("Error delete mainPage")
                                        }
                                    })

                                }

                                showAllImages = () => {
                                    $.ajax({
                                        url: '/admin/stocks/editStock/showAllImages/' + [[${stock.id}]],
                                        method: 'GET',
                                        dataType: 'JSON',
                                        success: function (result) {
                                            console.log(result);
                                            drawImages(result)
                                        }
                                    })
                                }
                                function drawImages(result) {
                                    for (const data of result) {
                                        $('<div class="col-3">' +
                                            '<div class="d-flex flex-column" style="max-width: 100%;">' +
                                            '<img src="' + (data.url != null ? data.url : 'https://via.placeholder.com/250x200&text=Empty') + '"' +
                                            ' id="imagePage' + data.id + '" ' +
                                            'class="img-fluid mb-2" style="max-width: 250px; max-height: 200px;">' +
                                            '<label class="form-label" id="imagePageEdit' +data.id+'" style="max-width: 250px;">' +
                                            '<input type="file" ' +
                                            'class="form-control" ' +
                                            'accept="image/png, image/jpeg" onchange="editImagePage(this,' + data.id + ')" multiple/>' +
                                            '</label>' +
                                            '<label class="form-label" style="max-width: 250px;">' +
                                            '<button style="width: 250px;" ' +
                                            'type="button" ' +
                                            'class="btn btn-danger" ' +
                                            'onclick="removeBlock(this, ' + data.id + ' )">' +
                                            'Удалить' +
                                            '</button>' +
                                            '</label>' +
                                            '</div>' +
                                            '</div>').appendTo('#gallery-image');

                                    }
                                }
                                const addBlock = () => {
                                    let index;
                                    $.ajax({
                                        url: '/admin/stocks/editStock/createNewImage/' + [[${stock.id}]],
                                        method: 'GET',
                                        dataType: 'JSON',
                                        success: function (result) {
                                            console.log(result)
                                            $('<div class="col-3">' +
                                                '<div class="d-flex flex-column" style="max-width: 100%;">' +
                                                '<img src="https://via.placeholder.com/250x200.png?text=Нет+Изображения"' +
                                                ' id="imagePage"'+ result.id +' ' +
                                                'class="img-fluid mb-2" style="max-width: 250px; max-height: 200px;">' +
                                                '<label class="form-label"  id="imagePageEdit'+ result.id +'" style="max-width: 250px;">' +
                                                '<input type="file" ' +
                                                'class="form-control"' +
                                                'accept="image/png, image/jpeg" onchange="editImagePage(this,'+ result.id +')" multiple/>' +
                                                '</label>' +
                                                '<label class="form-label" style="max-width: 250px;">' +
                                                '<button style="width: 250px;" ' +
                                                'type="button" ' +
                                                'class="btn btn-danger" ' +
                                                'onclick="removeBlock(this, ' + result.id + ' )">' +
                                                'Удалить' +
                                                '</button>' +
                                                '</label>' +
                                                '</div>' +
                                                '</div>').appendTo('#gallery-image');
                                        }
                                    })
                                }
                                document.querySelector('#add-image-button').addEventListener('click', addBlock);

                                function editImagePage(element, id) {
                                    let file = element.files[0];
                                    let formData = new FormData();
                                    formData.append("file", file);

                                    $.ajax({
                                        url: '/admin/stocks/editStock/editImageStock/' + id,
                                        method: 'POST',
                                        data: formData,
                                        processData: false,
                                        contentType: false,
                                        success: function (result) {
                                            console.log("Выгрузка файла прошла успешно");
                                            $.ajax({
                                                url: '/admin/stocks/editStock/getImage/' + id,
                                                method: 'GET',
                                                success: function (result) {
                                                    console.log("Загрузка файла прошла успешно");
                                                    let block = $(element).closest('.col-3').find('img');
                                                    $('<img src="' + result.url + '" ' +
                                                        'id="imagePage' + result.id + '" ' +
                                                        'class="img-fluid mb-2" ' +
                                                        'style="max-width: 250px; max-height: 200px;">')
                                                        .insertBefore($("#imagePageEdit" + result.id));
                                                    block.remove();
                                                },
                                                error: function (error) {
                                                    console.error("Ошибка при загрузке файла:", error);
                                                }
                                            });
                                        },
                                        error: function (error) {
                                            console.error("Ошибка при загрузке файла:", error);
                                        }
                                    });
                                }

                                function removeBlock(element, id) {
                                    let block = element.closest('.col-3');
                                    block.remove();
                                    $.ajax({
                                        url: '/admin/stocks/editStock/deleteImage/' + id,
                                        method: 'GET',
                                        dataType: 'JSON',
                                        success: function (result) {
                                            console.log(result);
                                        }
                                    })
                                }
                            </script>
                        </div>
                        <div class="row mb-4">
                            <label class="col-sm-2 col-form-label-sm">Ссылка на видео</label>
                            <div class="col-sm-9">
                                <input type="text"
                                       class="form-control form-control-sm"
                                       th:field="*{linkVideo}">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-2">
                                <label class="col-form-label-sm">SEO блок</label>
                            </div>
                            <div class="col-10">
                                <div class="seo_block col-sm-10">
                                    <div class="row">
                                        <label for="seoUrl"
                                               class="col-sm-2 col-form-label-sm justify-content-end">Url:</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="seoUrl"
                                                   class="form-control form-control-sm col-sm-8"
                                                   th:field="*{seoUrl}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10 mt-2">
                                    <div class="row">
                                        <label for="seoTitle" class="col-sm-2 col-form-label-sm justify-content-end">Title:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="seoTitle"
                                                   class="form-control"
                                                   th:field="*{seoTitle}"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10 mt-2">
                                    <div class="row">
                                        <label for="seoKeywords" class="col-sm-2 col-form-label-sm justify-content-end">Keywords:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="seoKeywords"
                                                   class="form-control"
                                                   th:field="*{seoKeywords}"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10 mt-2">
                                    <div class="row">
                                        <label for="seoDescription"
                                               class="col-sm-2 col-form-label-sm justify-content-end">Description:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="seoDescription"
                                                   class="form-control"
                                                   th:field="*{seoDescription}">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="d-grid gap-2 col-3 mx-auto mt-3">
                                    <button type="submit" class="btn btn-outline-primary">Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="navs-pills-within-card-link" role="tabpanel">
                        <h4 class="card-title">Special link title</h4>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="javascript:void(0)" class="btn btn-secondary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>