<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/template/layout.html">

<body>
<div layout:fragment="content">
    <div class="container">
        <form th:method="post"
              th:object="${cinema}"
              th:action="@{{id}(id=${cinema.id})}"
              enctype="multipart/form-data">
            <div class="row justify-content-end">
                <div class="flex justify-content-end row">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-pills" role="tablist"
                            style="display: flex; justify-content: flex-end;">
                            <li class="nav-item ml-auto">
                                <button
                                        type="button"
                                        class="nav-link active"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#navs-pills-within-card-active"
                                        aria-controls="navs-pills-within-card-active"
                                        aria-selected="true"
                                >
                                    Русский
                                </button>
                            </li>
                            <li class="nav-item">
                                <button
                                        type="button"
                                        class="nav-link"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#navs-pills-within-card-link"
                                        aria-controls="navs-pills-within-card-link"
                                        aria-selected="false"
                                >
                                    Link
                                </button>
                            </li>
                            <li class="nav-item">
                                <button
                                        type="button"
                                        class="nav-link disabled"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        aria-selected="false"
                                >
                                    English
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="tab-content p-0 pt-4">
                    <div class="tab-pane fade show active" id="navs-pills-within-card-active" role="tabpanel">
                        <div class="row mb-4">
                            <label class="col-sm-1 col-form-label-sm">Название</label>
                            <div class="col-sm-5">
                                <input type="text"
                                       class="form-control form-control-sm"
                                       th:field="*{name}">
                            </div>
                        </div>

                        <div class="row mb-4">
                            <label class="col-sm-1 col-form-label-sm">Описание</label>
                            <div class="col-sm-11">
                                <div class="card-body">
                                    <textarea
                                            class="form-control"
                                            data-autosize
                                            rows="3"
                                            th:field="*{description}">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="col-sm-1 col-form-label-sm">Условия</label>
                            <div class="col-sm-11">
                                <div class="card-body">
                                    <textarea data-autosize
                                              rows="3"
                                              class="form-control"
                                              th:field="*{conditions}">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4" id="logoBlock">
                            <div class="row align-items-center">
                                <div class="col-6" id="logoImageBlock">
                                    <label class="col-form-label col-sm-2">
                                        Логотип
                                    </label>
                                </div>
                                <div class="col-6">
                                    <label class="form-label">
                                        <input type="file"
                                               class="form-control"
                                               accept="image/png, image/jpeg"
                                               name="mainImagePage"
                                               onchange="changeLogo(this)"/>
                                    </label>
                                    <label class="form-label">
                                        <a>
                                            <button
                                                    type="button"
                                                    class="btn btn-danger"
                                                    onclick="deleteLogo(this)">
                                                Удалить
                                            </button>
                                        </a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4" id="topBannerBlock">
                            <div class="row align-items-center">
                                <div class="col-6" id="topBannerImageBlock">
                                    <label class="col-form-label col-sm-2">
                                        Фото верхнего баннера
                                    </label>
                                </div>
                                <div class="col-6">
                                    <label class="form-label">
                                        <input type="file"
                                               class="form-control"
                                               accept="image/png, image/jpeg"
                                               name="mainImagePage"
                                               onchange="changeTopBanner(this)"/>
                                    </label>
                                    <label class="form-label">
                                        <a>
                                            <button
                                                    type="button"
                                                    class="btn btn-danger"
                                                    onclick="deleteTopBanner(this)">
                                                Удалить
                                            </button>
                                        </a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label>Галерея картинок</label>
                            <div class="col-12">
                                <div class="row align-items-center" id="gallery-image">
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="button" id="add-image-button" class="btn btn-primary">Добавить</button>
                            </div>
                            <script src="/assets/vendor/libs/jquery/jquery.js"></script>
                            <script>
                                window.cinemaId = [[${cinema.id}]];
                            </script>
                            <script src="/customAssets/js/cinemaEdit.js"></script>


                        </div>
                        <div class="row mb-4">
                            <div class="d-flex flex-row justify-content-center align-items-center">
                                <h4 class="fw-bold pt-3">Список залов</h4>
                            </div>
                            <br/>
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Название</th>
                                                    <th>Дата создания</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody class="table-border-bottom-0">
                                                <tr th:each="hall : ${cinema.halls}">
                                                    <td th:text="${hall.hallNumber}">1</td>
                                                    <td th:text="${hall.dateCreated}">2</td>
                                                    <td>
                                                        <a style="max-width: 24px;"
                                                           th:href="@{/admin/cinema/editHall/{id}(id=${hall.id})}"
                                                           class="btn btn-primary">
                                                            <i class="ti ti-edit">
                                                            </i>
                                                        </a>
                                                        <a style="max-width: 24px;"
                                                           th:href="@{/admin/cinema/removeHall/{id}(id=${hall.id})}"
                                                           class="btn btn-danger">
                                                            <i class="ti ti-trash">
                                                            </i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-center pb-0"></div>
                            </div>
                            <br>
                            <hr/>
                            <div class="d-flex flex-row justify-content-center align-items-center">
                                <a href="/admin/cinema/createHall"
                                   th:href="@{/admin/cinema/createHall/{id}(id=${cinema.id})}"
                                   class="btn btn-primary">Создать Зал</a>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-2">
                                <label class="col-form-label-sm">SEO блок</label>
                            </div>
                            <div class="col-10">
                                <div class="seo_block col-sm-10">
                                    <div class="row">
                                        <label for="seoUrl"
                                               class="col-sm-2 col-form-label-sm justify-content-end">Url:</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="seoUrl"
                                                   class="form-control form-control-sm col-sm-8"
                                                   th:field="*{seoUrl}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10 mt-2">
                                    <div class="row">
                                        <label for="seoTitle" class="col-sm-2 col-form-label-sm justify-content-end">Title:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="seoTitle"
                                                   class="form-control"
                                                   th:field="*{seoTitle}"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10 mt-2">
                                    <div class="row">
                                        <label for="seoKeywords" class="col-sm-2 col-form-label-sm justify-content-end">Keywords:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="seoKeywords"
                                                   class="form-control"
                                                   th:field="*{seoKeywords}"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10 mt-2">
                                    <div class="row">
                                        <label for="seoDescription"
                                               class="col-sm-2 col-form-label-sm justify-content-end">Description:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="seoDescription"
                                                   class="form-control"
                                                   th:field="*{seoDescription}">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="d-grid gap-2 col-3 mx-auto mt-3">
                                    <button type="submit" class="btn btn-outline-primary">Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="navs-pills-within-card-link" role="tabpanel">
                        <h4 class="card-title">Special link title</h4>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="javascript:void(0)" class="btn btn-secondary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>