<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/template/layout.html">

<body>
<div layout:fragment="content">
    <div class="container">
        <form th:method="post"
              class="needs-validation"
              th:object="${hall}"
              th:action="@{/admin/cinema/editHall/{id}(id=${hall.id})}"
              enctype="multipart/form-data">
            <div class="row justify-content-end">
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{cinema}">
                <input type="date" th:field="*{dateCreated}" hidden>
                <div class="flex justify-content-end row">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-pills" role="tablist"
                            style="display: flex; justify-content: flex-end;">
                            <li class="nav-item ml-auto">
                                <button
                                        type="button"
                                        class="nav-link active"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#navs-pills-within-card-active"
                                        aria-controls="navs-pills-within-card-active"
                                        aria-selected="true"
                                >
                                    Русский
                                </button>
                            </li>
                            <li class="nav-item">
                                <button
                                        type="button"
                                        class="nav-link disabled"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        aria-selected="false"
                                >
                                    English
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="tab-content p-0 pt-4">
                    <div class="tab-pane fade show active" id="navs-pills-within-card-active" role="tabpanel">
                        <div class="row mb-4">
                            <label class="col-sm-1 col-form-label-sm">Номер зала</label>
                            <div class="col-sm-5">
                                <input type="text"
                                       class="form-control form-control-sm"
                                       th:classappend="${#fields.hasErrors('hallNumber')} ? 'is-invalid'"
                                       th:field="*{hallNumber}">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('hallNumber')}"
                                     th:errors="*{hallNumber}"></div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <label class="col-sm-1 col-form-label-sm">Описание зала</label>
                            <div class="col-sm-11">
                                <div class="card-body">
                                    <textarea
                                            id="autosize-demo"
                                            rows="3"
                                            class="form-control"
                                            data-autosize
                                            th:field="*{description}">
                                    </textarea>

                                </div>
                            </div>
                        </div>
                        <div class="row mb-4" id="SchemeHallBlock">
                            <div class="row align-items-center" id="SchemeHallPathBlock">
                                <div class="col-6 image-container">
                                    <label class="col-form-label col-sm-2">
                                        Схема зала
                                    </label>
                                    <img th:src="@{${hall.urlSchemeImageHall == null || hall.urlSchemeImageHall == ''  ? '/customAssets/noImage.png' : hall.urlSchemeImageHall }}"
                                         class="img-fluid" id="urlSchemeImageHall"
                                         th:id="'urlSchemeImageHall' + ${hall.id}"
                                         style="max-width: 250px;
                                          max-height: 200px;" alt="">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">
                                        <input type="file"
                                               th:field="*{urlSchemeImageHall}"
                                               th:required="${hall.urlSchemeImageHall == null}"
                                               class="form-control"
                                               name="topBanner"
                                               accept="image/png, image/jpeg"
                                               th:data-image-id="'urlSchemeImageHall'+${hall.id}"
                                               onchange="previewImage(this)"/>
                                    </label>
                                    <label class="form-label">
                                        <!--                                        <a>-->
                                        <!--                                            <button-->
                                        <!--                                                    type="button"-->
                                        <!--                                                    class="btn btn-danger"-->
                                        <!--                                                    onclick="">-->
                                        <!--                                                Удалить-->
                                        <!--                                            </button>-->
                                        <!--                                        </a>-->
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4" id="topBannerBlock">
                            <div class="row align-items-center" id="topBannerPathBlock">
                                <div class="col-6 image-container">
                                    <label class="col-form-label col-sm-2">
                                        Фото верхнего баннера
                                    </label>
                                    <img th:src="@{${hall.topBanner == null || hall.topBanner == ''  ? '/customAssets/noImage.png' : hall.topBanner}}"
                                         class="img-fluid" id="topBanner"
                                         th:id="'topBanner' + ${hall.id}"
                                         style="max-width: 250px; max-height: 200px;" alt="">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">
                                        <input type="file"
                                               th:field="*{topBanner}"
                                               th:required="${hall.topBanner == null}"
                                               class="form-control"
                                               name="topBanner"
                                               accept="image/png, image/jpeg"
                                               th:data-image-id="'topBanner'+${hall.id}"
                                               onchange="previewImage(this)"/>
                                    </label>
                                    <label class="form-label">
                                        <!--                                        <a>-->
                                        <!--                                            <button-->
                                        <!--                                                    type="button"-->
                                        <!--                                                    class="btn btn-danger"-->
                                        <!--                                                    onclick="">-->
                                        <!--                                                Удалить-->
                                        <!--                                            </button>-->
                                        <!--                                        </a>-->
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label>Галерея картинок</label>
                            <div class="col-12">
                                <div class="row align-items-center" id="gallery-image">
                                    <div class="col-3 image-item" th:each="imageCinema, i : *{imagesHall}">
                                        <div class="card text-center mb-2">
                                            <div style="object-fit : contain" class="card-header">
                                                <img th:src="@{*{imagesHall[__${i.index}__].url} }"
                                                     th:id="'imageCinema' + ${i.index}"
                                                     class="img-fluid mb-2"
                                                     style="object-fit : cover; height: 200px">
                                            </div>
                                            <div class="card-body">
                                                <input type=hidden class="form-control"
                                                       th:field="*{imagesHall[__${i.index}__].id}">
                                                <input type="file" class="form-control"
                                                       th:data-image-id="'imageCinema' + ${i.index}"
                                                       th:field="*{imagesHall[__${i.index}__].url}"
                                                       accept="image/png, image/jpeg"
                                                       onchange="previewImage(this)"
                                                       multiple
                                                />
                                                <div class="form-group mb-1">
                                                    <button style="width: 100%;"
                                                            type="button" onclick="removeImageBlock(this)"
                                                            class="btn btn-danger">
                                                        Удалить
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="button" id="add-image-button" class="btn btn-primary">Добавить</button>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-2">
                                <label class="col-form-label-sm">SEO блок</label>
                            </div>
                            <div class="col-10">
                                <div class="seo_block col-sm-10">
                                    <div class="row">
                                        <label for="seoUrl"
                                               class="col-sm-2 col-form-label-sm justify-content-end">Url:</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="seoUrl"
                                                   class="form-control form-control-sm col-sm-8"
                                                   th:classappend="${#fields.hasErrors('seoUrl')} ? 'is-invalid' : ''"
                                                   th:field="*{seoUrl}">
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('seoUrl')}"
                                                 th:errors="*{seoUrl}"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10 mt-2">
                                    <div class="row">
                                        <label for="seoTitle" class="col-sm-2 col-form-label-sm justify-content-end">Title:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="seoTitle"
                                                   class="form-control"
                                                   th:classappend="${#fields.hasErrors('seoTitle')} ? 'is-invalid' : ''"
                                                   th:field="*{seoTitle}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10 mt-2">
                                    <div class="row">
                                        <label for="seoKeywords" class="col-sm-2 col-form-label-sm justify-content-end">Keywords:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="seoKeywords"
                                                   class="form-control"
                                                   th:field="*{seoKeywords}">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10 mt-2">
                                    <div class="row">
                                        <label for="seoDescription"
                                               class="col-sm-2 col-form-label-sm justify-content-end">Description:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="seoDescription"
                                                   class="form-control"
                                                   th:field="*{seoDescription}">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="d-grid gap-2 col-3 mx-auto mt-3">
                                    <button type="submit" class="btn btn-outline-primary">Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div th:text="${appContextPath}" hidden id="appContextPath"></div>
        <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
        <script>
            let appContextPath = document.getElementById("appContextPath").textContent
            let baseUrl = window.location.href;

            $(document).ready(function () {
                const textarea = document.querySelectorAll('[data-autosize]');
                autosize(textarea);
            });

            document.getElementById("add-image-button").addEventListener("click", function() {
                addNewImageItem('imagesHall');
            });

            document.addEventListener('DOMContentLoaded', function (e) {
                let id = [[${hall.id}]];
                let topBanner =  document.getElementById("topBanner"+id).getAttribute('src') === appContextPath+ '/customAssets/noImage.png';
                let urlSchemeImageHall =  document.getElementById("urlSchemeImageHall"+id).getAttribute('src') === appContextPath+ '/customAssets/noImage.png';
                if(topBanner){
                    (function () {
                        const formValidationExamples = document.querySelector(".needs-validation");
                        const fv = FormValidation.formValidation(formValidationExamples, {
                            fields: {
                                topBanner: {
                                    validators: {
                                        notEmpty: {
                                            message: 'Загрузите изображение'
                                        }
                                    }
                                },
                            },
                            plugins: {
                                trigger: new FormValidation.plugins.Trigger(),
                                bootstrap5: new FormValidation.plugins.Bootstrap5({
                                    eleValidClass: '',
                                    rowSelector: '.row',
                                }),
                                submitButton: new FormValidation.plugins.SubmitButton(),
                                defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                                autoFocus: new FormValidation.plugins.AutoFocus()
                            },
                            init: instance => {
                                instance.on('plugins.message.placed', function (e) {
                                    if (e.element.parentElement.classList.contains('input-group')) {

                                        e.element.parentElement.insertAdjacentElement('afterend', e.messageElement);
                                    }
                                    if (e.element.parentElement.parentElement.classList.contains('custom-option')) {
                                        e.element.closest('.row').insertAdjacentElement('afterend', e.messageElement);
                                    }
                                });
                            }
                        });
                    })();
                }
                if(urlSchemeImageHall){
                    (function () {
                        const formValidationExamples = document.querySelector(".needs-validation");
                        const fv = FormValidation.formValidation(formValidationExamples, {
                            fields: {
                                urlSchemeImageHall: {
                                    validators: {
                                        notEmpty: {
                                            message: 'Загрузите изображение'
                                        }
                                    }
                                },
                            },
                            plugins: {
                                trigger: new FormValidation.plugins.Trigger(),
                                bootstrap5: new FormValidation.plugins.Bootstrap5({
                                    eleValidClass: '',
                                    rowSelector: '.row',
                                }),
                                submitButton: new FormValidation.plugins.SubmitButton(),
                                defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                                autoFocus: new FormValidation.plugins.AutoFocus()
                            },
                            init: instance => {
                                instance.on('plugins.message.placed', function (e) {
                                    if (e.element.parentElement.classList.contains('input-group')) {

                                        e.element.parentElement.insertAdjacentElement('afterend', e.messageElement);
                                    }
                                    if (e.element.parentElement.parentElement.classList.contains('custom-option')) {
                                        e.element.closest('.row').insertAdjacentElement('afterend', e.messageElement);
                                    }
                                });
                            }
                        });
                    })();
                }
                (function () {
                    const formValidationExamples = document.querySelector(".needs-validation");
                    const fv = FormValidation.formValidation(formValidationExamples, {
                        fields: {
                            hallNumber: {
                                validators: {
                                    notEmpty: {
                                        message: 'Пожалуйста, введите ваше имя'
                                    },
                                    regexp: {
                                        regexp: /^[а-яА-ЯёЁa-zA-Z0-9]+$/,
                                        message: 'Имя должно содержать только буквы'
                                    }
                                }
                            },
                            description: {
                                validators: {
                                    notEmpty: {
                                        message: 'Пожалуйста, введите описание'
                                    },
                                    stringLength: {
                                        min: 10,
                                        max: 1000,
                                        message: 'Описание должно содержать не менее 10 символов'
                                    }

                                }
                            },
                            seoUrl: {
                                validators: {
                                    notEmpty: {
                                        message: 'Пожалуйста, введите SEO URL'
                                    }
                                }
                            },
                            seoTitle: {
                                validators: {
                                    notEmpty: {
                                        message: 'Пожалуйста, введите SEO Title'
                                    }
                                }
                            },
                            seoDescription: {
                                validators: {
                                    notEmpty: {
                                        message: 'Пожалуйста, введите SEO Description'
                                    }
                                }
                            },
                            seoKeywords: {
                                validators: {
                                    notEmpty: {
                                        message: 'Пожалуйста, введите SEO Keywords'
                                    }
                                }
                            },
                        },

                        plugins: {
                            trigger: new FormValidation.plugins.Trigger(),
                            bootstrap5: new FormValidation.plugins.Bootstrap5({
                                eleValidClass: '',
                                rowSelector: '.row',
                            }),
                            submitButton: new FormValidation.plugins.SubmitButton(),
                            defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                            autoFocus: new FormValidation.plugins.AutoFocus()
                        },
                        init: instance => {
                            instance.on('plugins.message.placed', function (e) {
                                if (e.element.parentElement.classList.contains('input-group')) {

                                    e.element.parentElement.insertAdjacentElement('afterend', e.messageElement);
                                }
                                if (e.element.parentElement.parentElement.classList.contains('custom-option')) {
                                    e.element.closest('.row').insertAdjacentElement('afterend', e.messageElement);
                                }
                            });
                        }
                    });
                })();
            });

        </script>
    </div>

</div>
</body>
</html>